<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
	<!-- Sections -->
	<configSections>
		<!-- Required Xsd 
    to remove warning: The ‘log4net’ element is not declared 
    http://www.thepicketts.org/2012/12/how-to-remove-warning-the-log4net-element-is-not-declared/  
    -->
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="logicpos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
	<!-- Log4Net -->
	<log4net>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
			</layout>
		</appender>
		<appender name="FileAppender" type="log4net.Appender.FileAppender">
			<param name="File" value="logicpos.log" />
			<param name="AppendToFile" value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%d [%-5p] %c : %m%n" />
			</layout>
		</appender>
		<appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
			</layout>
		</appender>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="FileAppender" />
		</root>
	</log4net>
	<!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
	<!-- AppSettings -->
	<appSettings>
		<!-- Application -->
		<add key="appSystemProtection" value="" />
		<add key="appMultiUserEnvironment" value="true" />
		<!-- Override DB Prefs 'APP_SCREEN_SIZE': [0,0 | 800,600 | 1024,768 | 1280,768 | 1366,768 | 1280,1024 | 1680,1050 | 1920,1080]. Value: '0,0' is AutoDetect  -->
		<add key="appScreenSize" value="0,0" />
		<!-- Used for some components like Button Sizes, Icon Sizes Etc to Calc diferent sizes for Diferent resolutions -->
		<add key="appThemeCalcDynamicSize" value="true" />


		<!-- Default|Retail|Parking|Bakery|Butchery|Cafe|ClothingStore|HardwareStore|Restaurant|SeafoodShop|ShoeStore|BackOfficeMode : Must be equal to AppOperationMode value (Respect Case Sensitivity)-->
		<add key="appOperationModeToken" value="ClothingStore" />

		<!-- IN008013: Resource definition for Company Details settings window, during first POS use -->
		<!-- en-GB|en-US|fr-FR|pt-BR|pt-AO|pt-MZ|pt-PT|es-ES -->
		<add key="customCultureResourceDefinition" value="pt-PT" />

		<!--HardwareId : Used to Force appHardwareId-->
		<!--<add key="appHardwareId" value="92A4-EADD-8AF0-B693-1111-0010" />-->
		<!-- Financial -->
		<!--<add key="cultureFinancialRules" value="fr-CF" /> KONGO-->
		<add key="cultureFinancialRules" value="pt-PT" />

		<!-- Other -->
		<add key="generatePdfDocuments" value="true" />
		<add key="useImageOverlay" value="false" />
		<add key="appShowMinimize" value="true" />

		<!-- Send Doc to AT After Doc Creation-->
		<add key="sendDocumentsATinRealTime" value="true" />
		<add key="sendDocumentsATinRealTimeWB" value="true" />

		<!-- TK013134: Use TicketParking -->
		<add key="appUseParkingTicketModule" value="true" />
		<!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
		<!-- Terminal Configuration-->
		<add key="useVirtualKeyBoard" value="true" />
		<!-- Disable for Slow GFX Computers and when Debugger.IsAttached -->
		<add key="useBaseDialogWindowMask" value="false" />
		<!-- POS Button Label Size-->
		<add key="posBaseButtonMaxCharsPerLabel" value="18" />
		<!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
		<!--Database-->
		<add key="useDatabaseDataDemo" value="true" />

		<!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
		<!--DateTime Format-->
		<add key="dateTimeFormatStatusBar" value="dddd, MMMM dd, yyyy | HH:mm:ss tt" />
		<!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
		<!--Paths-->
		<!--Use slash in the end -->
		<add key="pathAssets" value="Assets\" />
		<add key="pathImages" value="Assets\Images\" />
		<add key="pathThemes" value="Assets\Themes\" />
		<add key="pathSounds" value="Assets\Sounds\" />
		<add key="pathResources" value="Resources\" />
		<add key="pathReports" value="Resources\Reports\" />
		<add key="pathTickets" value="Resources\Tickets\" />
		<add key="pathKeyboards" value="Resources\Keyboards\" />
		<add key="pathTemp" value="Temp\" />
		<add key="pathCache" value="Temp\Cache\" />
		<add key="pathDocuments" value="Documents\" />
		<!-- Use required "." to use Current App Directory. or Plugins to Use "plugins" Directory -->
		<add key="pathPlugins" value="." />
		<!--Plugins-->
		<!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
		<!-- MoneyPad Values -->
		<!-- PT -->
		<add key="decimalMoneyButtonL1Value" value="0.05" />
		<add key="decimalMoneyButtonL2Value" value="0.10" />
		<add key="decimalMoneyButtonL3Value" value="0.20" />
		<add key="decimalMoneyButtonL4Value" value="0.50" />
		<add key="decimalMoneyButtonL5Value" value="1.00" />
		<add key="decimalMoneyButtonR1Value" value="5.00" />
		<add key="decimalMoneyButtonR2Value" value="10.00" />
		<add key="decimalMoneyButtonR3Value" value="20.00" />
		<add key="decimalMoneyButtonR4Value" value="50.00" />
		<add key="decimalMoneyButtonR5Value" value="100.00" />


		<add key="xpoOidConfigurationCountrySystemCountry" value="e7e8c325-a0d4-4908-b148-508ed750676a" />
		<add key="xpoOidConfigurationCountrySystemCountryCountryCode2" value="PT" />

		<add key="xpoOidConfigurationCurrencySystemCurrency" value="28dd2a3a-0083-11e4-96ce-00ff2353398c" />
	
		<add key="xpoOidConfigurationPlaceTableDefaultOpenTable" value="64d417f6-ff97-4f4b-bded-4bc9bf9f18d9" />

		<!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
		<!--Theme Files-->
		<!-- Windows -->
		<add key="fileImageBackgroundWindowStartup" value="Backgrounds/Windows/window_startup_{0}x{1}.jpg" />
		<add key="fileImageBackgroundWindowPos" value="Backgrounds/Windows/{0}/window_pos_{1}x{2}.jpg" />
		<!-- Dialogs -->
		<add key="fileImageBackgroundDialogDefault" value="Backgrounds/Dialogs/dialog_default.jpg" />
		<add key="fileImageBackgroundDialogTables" value="Backgrounds/Dialogs/dialog_tables.jpg" />
		<add key="fileImageDialogBaseMessageTypeImage" value="Icons/DialogsIcons/icon_pos_dialog_{0}.png" />
		<add key="fileImageDialogBaseMessageTypeIcon" value="Icons/DialogsIcons/icon_pos_dialog_{0}_window.png" />
		<!-- Images -->
		<add key="fileImageBackOfficeLogo" value="Images/logo_backoffice.png" />
		<!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
		<!-- Fonts | FontDescription FromString | ex "Ahafoni CLM Bold 100" -->
		<add key="fontPosBaseButtonSize" value="7" />
		<!-- Used in TablePads-->
		<add key="fontPosToolbarButton" value="7" />
		<add key="fontPosStatusBar" value="Bold 11" />
		<add key="fontPosStatusBarSmall" value="7" />
		<!-- StartupWindow -->
		<add key="fontStartupWindowVersion" value="Bold 8" />
		<!-- Dialog -->
		<add key="fontBaseDialogButton" value="10" />
		<add key="fontBaseDialogActionAreaButton" value="8" />
		<!-- KeyBoardPad -->
		<add key="fontKeyboardPadTextEntry" value="Bold 14" />
		<add key="fontKeyboardPadPrimaryKey" value="14" />
		<add key="fontKeyboardPadSecondaryKey" value="11" />
		<!-- BackOffice-->
		<add key="fontBackOfficeStatusBar" value="Bold 12" />
		<!-- NumberPadPin -->
		<add key="fontNumberPadPinButtonKeysTextAndLabel" value="Bold 16" />
		<!-- MoneyPad -->
		<add key="fontMoneyPadButtonKeys" value="Bold 12" />
		<add key="fontMoneyPadTextEntry" value="Bold 18" />
		<!-- TicketPad -->
		<add key="fontTicketPadPadButtonKeys" value="7" />
		<!-- TicketList -->
		<add key="fontTicketListColumnTitle" value="Bold 8" />
		<add key="fontTicketListColumn" value="8" />
		<add key="fontTicketListLabelLabelTotal" value="Bold 16" />
		<add key="fontTicketListLabelTotal" value="16" />
		<!-- Accordion -->
		<add key="fontPosBackOfficeParent" value="Bold 10" />
		<add key="fontPosBackOfficeChild" value="9" />
		<add key="fontPosBackOfficeParent_1024" value="Bold 8" />
		<add key="fontPosBackOfficeChild_1024" value="7" />
		<!-- Table Dialog -->
		<add key="fontTableDialogTableNumber" value="Bold 14" />
		<!-- POS EntryBox Fields -->
		<add key="fontEntryBoxLabel" value="Bold 10" />
		<add key="fontEntryBoxValue" value="Bold 14" />
		<!-- GenericTreeView -->
		<add key="fontGenericTreeViewColumnTitle" value="11" />
		<add key="fontGenericTreeViewColumn" value="11" />
		<add key="fontGenericTreeViewSelectRecordColumnTitle" value="11" />
		<add key="fontGenericTreeViewSelectRecordColumn" value="11" />
		<add key="fontGenericTreeViewFinanceDocumentArticleColumnTitle" value="10" />
		<add key="fontGenericTreeViewFinanceDocumentArticleColumn" value="10" />
		<!-- PagePad -->
		<add key="fontPagePadNavigatorButton" value="9" />
		<!-- SplitPayments -->
		<add key="fontSplitPaymentTouchButtonSplitPayment" value="Bold 12" />
		<!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
		<!-- Finance -->
		<!-- This parameter is only used in Angola to use Tax=0 Without Required to choose VatExemptionReason -->
		<add key="requireToChooseVatExemptionReason" value="false" />
		<!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
		<!-- Int -->
		<!-- INTHEME : Added for Dynamic Theme -->
		<add key="intStartupWindowObjectsNumberPadPinRight" value="120" />
		<!-- INTHEME : Added for Dynamic Theme -->
		<add key="intPosMainWindowComponentsMargin" value="10" />
		<!-- INTHEME : Added for Dynamic Theme -->
		<add key="intPosMainWindowEventBoxStatusBar1And2Height" value="40" />
		<!-- SplitPayments -->
		<add key="intSplitPaymentTouchButtonSplitPaymentHeight" value="72" />
		<!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
		<!-- Colors -->
		<add key="colorPosHelperBoxsBackground" value="255, 0, 0" />
		<add key="colorPosStatusBar1Background" value="88, 88, 88" />
		<add key="colorPosStatusBar2Background" value="72, 84, 96" />
		<add key="colorPosStatusBarFont" value="238, 238, 238" />
		<add key="colorPosStatusBarFontSmall" value="218, 218, 218" />
		<add key="colorTicketPadButtonFont" value="0, 0, 0" />
		<!-- Colors : USED IN IN THEME -->
		<add key="colorFullScreenBackground" value="5,  5,  5" />
		<add key="colorFullScreenUsefullAreaBackground" value="61,  61,  61" />
		<!-- Global Dialogs -->
		<add key="colorBaseDialogTitleBackground" value="61,  61,  61" />
		<add key="colorBaseDialogWindowBackground" value="255, 255, 255" />
		<add key="colorBaseDialogWindowBackgroundBorder" value="0, 0, 0" />
		<add key="colorBaseDialogActionAreaButtonFont" value="255, 255, 255" />
		<add key="colorBaseDialogActionAreaButtonBackground" value="68, 119, 164" />
		<add key="colorBaseDialogEntryBoxBackground" value="189, 189, 189" />
		<add key="colorBaseDialogDefaultButtonFont" value="59,  59,  57" />
		<add key="colorBaseDialogDefaultButtonBackground" value="163, 199,  73" />
		<add key="colorBaseDialogSecondaryButtonBackground" value="72,  84,  96" />
		<add key="colorBaseDialogSecondaryButtonFont" value="255, 255, 255" />
		<add key="colorBaseDialogEmptyButtonBackground" value="238, 243, 220" />
		<!-- Dialog: PosPaymentsDialog -->
		<add key="colorPosPaymentsDialogTotalPannelBackground" value="61,  61,  61" />
		<!-- Pos: Toolbar -->
		<add key="colorPosToolbarDefaultButtonFont" value="255, 255, 255" />
		<!-- TablePad Buttons-->
		<add key="colorPosTablePadTableTableStatusOpenButtonBackground" value="100, 185, 100" />
		<add key="colorPosTablePadTableTableStatusReservedButtonBackground" value="185, 100, 100" />
		<!-- TicketList -->
		<add key="colorPosTicketListModeTicketBackground" value="255, 255, 255" />
		<add key="colorPosTicketListModeOrderMainBackground" value="235, 255, 235" />
		<add key="colorPosTicketListModeEditBackground" value="0, 75, 0" />
		<!-- NumberPad -->
		<add key="colorPosNumberPadLeftButtonBackground" value="72,  84,  96" />
		<add key="colorPosNumberRightButtonBackground" value="185, 185, 185" />
		<!-- Validation -->
		<add key="colorEntryValidationValidFont" value="0, 75, 0" />
		<add key="colorEntryValidationInvalidFont" value="125, 0, 0" />
		<add key="colorEntryValidationInvalidFontLighter" value="255, 0, 0" />
		<add key="colorEntryValidationValidBackground" value="255, 255, 255" />
		<add key="colorEntryValidationInvalidBackground" value="255, 228, 228" />
		<!-- KeyBoardPad-->
		<add key="colorKeyboardPadKeyDefaultFont" value="255, 255, 255" />
		<add key="colorKeyboardPadKeySecondaryFont" value="125, 125, 125" />
		<add key="colorKeyboardPadKeyBackground" value="84, 84, 84" />
		<add key="colorKeyboardPadKeyBackgroundActive" value="144, 144, 144" />
		<!-- BackOffice -->
		<add key="colorBackOfficeContentBackground" value="88, 88, 88" />
		<add key="colorBackOfficeAccordionFixBackground" value="239, 248, 218" />
		<add key="colorBackOfficeStatusBarBackground" value="61, 61, 61" />
		<add key="colorBackOfficeStatusBarBottomBackground" value="222, 222, 222" />
		<add key="colorBackOfficeStatusBarFont" value="218, 218, 218" />
		<!-- SplitPayments -->
		<add key="colorSplitPaymentTouchButtonFilledDataBackground" value="166,  201,  76" />
		<!-- PagePad -->
		<add key="colorPagePadHotButtonBackground" value="68, 119, 164" />
		<!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
		<!-- Position-->
		<add key="positionButtonFavorites" value="3, 83" />
		<add key="positionTablePadFamily" value="3, 179" />
		<add key="positionTablePadSubFamily" value="139, 83" />
		<add key="positionTablePadArticle" value="139, 179" />
		<!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
		<!-- Table Config (Columns x Rows-->
		<add key="tableConfigTablePadFamily" value="5, 1" />
		<add key="tableConfigTablePadSubFamily" value="1, 4" />
		<add key="tableConfigTablePadArticle" value="5, 4" />
		<add key="tableConfigTablePadLoginUser" value="4, 1" />
		<!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
		<!-- Sizes -->
		<!-- INTHEME : Fixed Size "120, 90", or use "0, 0" to use Dynamic Size based on Screen Resolution -->
		<add key="sizePosBaseButton" value="120, 90" />
		<!-- INTHEME : Fixed Size "82, 62", or use "0, 0" to use Dynamic Size based on Screen Resolution -->
		<add key="sizePosToolbarButton" value="82, 62" />
		<!-- INTHEME : Fixed Size "82, 62", or use "0, 0" to use Dynamic Size based on Screen Resolution -->
		<add key="sizePosTicketPadButton" value="82, 62" />
		<!-- INTHEME : Fixed Size "164, 62", or use "0, 0" to use Dynamic Size based on Screen Resolution -->
		<add key="sizePosTicketPadButtonDoubleWidth" value="164, 62" />
		<!-- INTHEME : Fixed Size "36, 36", or use "0, 0" to use Dynamic Size based on Screen Resolution -->
		<add key="sizePosToolbarButtonIcon" value="26, 26" />
		<!-- INTHEME : Fixed Size "36, 36", or use "0, 0" to use Dynamic Size based on Screen Resolution -->
		<add key="sizePosTicketPadButtonIcon" value="36, 36" />
		<add key="sizePosSmallButtonScroller" value="68, 37" />
		<add key="sizePosTableButton" value="136, 82" />
		<add key="sizePosUserButton" value="136, 82" />
		<add key="sizeBaseDialogDefaultButton" value="108, 67" />
		<add key="sizeBaseDialogDefaultButtonIcon" value="36, 36" />
		<add key="sizeBaseDialogActionAreaButton" value="84, 61" />
		<add key="sizeBaseDialogActionAreaButtonIcon" value="28, 28" />
		<add key="sizeBaseDialogActionAreaBackOfficeNavigatorButton" value="70, 50" />
		<add key="sizeBaseDialogActionAreaBackOfficeNavigatorButtonIcon" value="28, 28" />
		<!-- KeyBoardPad -->
		<add key="sizeKeyboardPadDefaultKey" value="46, 50" />
		<!-- PagePad -->
		<add key="sizePagesPadNavigatorButton" value="50, 55" />
		<add key="sizePagesPadNavigatorButtonIcon" value="20, 20" />

		<!-- Use POS PDF viewer -->
		<add key="usePDFviewer" value="true" />

		<add key="printTicket" value="true" />

		<!-- StartupWindow -->
		<!-- INTHEME : Added for Dynamic Theme -->
		<add key="sizeStartupWindowObjectsTablePadUserMarginLeftTop" value="120, 120" />
		<!-- INTHEME : Added for Dynamic Theme -->
		<add key="sizeStartupWindowObjectsTablePadUserButton" value="120, 102" />
		<!-- INTHEME : Added for Dynamic Theme -->
		<add key="sizeStartupWindowObjectsTablePadUserTablePadUserButtonPrev" value="120, 60" />
		<!-- INTHEME : Added for Dynamic Theme -->
		<add key="sizeStartupWindowObjectsNumberPadPin" value="315, 434" />
		<!-- INTHEME : Added for Dynamic Theme -->
		<add key="sizeStartupWindowObjectsNumberPadPinButton" value="99, 59" />
		<!-- INTHEME : Added for Dynamic Theme -->
		<add key="sizeStartupWindowObjectsLabelVersion" value="307, 50" />
		<!-- INTHEME : Added for Dynamic Theme -->
		<add key="sizeStartupWindowObjectsLabelVersionSizeMarginRightBottom" value="124, 128" />

		<!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
		<!-- UI Components -->
		<!-- Use CurrentAccount | CustomerCard-->
		<add key="posPaymentsDialogUseCurrentAccount" value="false" />
		<!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
		<add key="ClientSettingsProvider.ServiceUri" value="" />

	</appSettings>
	<!--WebService-->
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IService1" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:50391/Service1.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceReference.IService1" name="BasicHttpBinding_IService1" />
		</client>
	</system.serviceModel>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Mono.Cairo" publicKeyToken="0738eb9f132ed756" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.9.9.0" newVersion="6.9.9.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.11.3.0" newVersion="2.11.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="gtk-sharp" publicKeyToken="35e10195dab3c99f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.12.0.0" newVersion="2.12.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="glib-sharp" publicKeyToken="35e10195dab3c99f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.12.0.0" newVersion="2.12.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="gdk-sharp" publicKeyToken="35e10195dab3c99f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.12.0.0" newVersion="2.12.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="pango-sharp" publicKeyToken="35e10195dab3c99f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.12.0.0" newVersion="2.12.0.0" />
			</dependentAssembly>
		</assemblyBinding>
		<!-- Specifies whether assemblies from remote sources should be granted full trust -->
		<loadFromRemoteSources enabled="true" />
	</runtime>
	<applicationSettings>
		<logicpos.Properties.Settings>
			<setting name="logicpos_WSIntellilock_ActivationService" serializeAs="String">
				<value>http://licence.logicpulse.pt/ws/ActivationService.asmx</value>
			</setting>
			<setting name="logicpos_ParkingTicketService_TimeService" serializeAs="String">
				<value>http://192.168.1.86/POS/service.asmx</value>
			</setting>
			<setting name="logicpos_ParkingTicketService1_TimeService" serializeAs="String">
				<value>http://192.168.1.86/POS/service.asmx</value>
			</setting>
			<setting name="logicpos_AccessTrackParkingTicketService_TimeService" serializeAs="String">
				<value>http://192.168.1.86/POS/service.asmx</value>
			</setting>
		</logicpos.Properties.Settings>
	</applicationSettings>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>
