<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
  <!-- Sections -->
  <configSections>
    <!-- Required Xsd 
    to remove warning: The ‘log4net’ element is not declared 
    http://www.thepicketts.org/2012/12/how-to-remove-warning-the-log4net-element-is-not-declared/  
    -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="logicpos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
  <!-- Log4Net -->
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
      </layout>
    </appender>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="logicpos.log" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%-5p] %c : %m%n" />
      </layout>
    </appender>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
  <!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
  <!-- AppSettings -->
  <appSettings>
    <!-- Application -->
    <add key="appSystemProtection" value="" />
    <add key="appMultiUserEnvironment" value="true" />
    <!-- Theme Resolution : 0,0 (Auto Detected) | 800,600 | 1024,768 | 1280,768 | 1366,768 | 1280,1024 | 1680,1050 | 1920,1080 -->
    <add key="appScreenSize" value="0,0" />
    <!-- Default -->
    <add key="appTheme" value="Default" />
    <!-- Used for some components like Button Sizes, Icon Sizes Etc to Calc diferent sizes for Diferent resolutions -->
    <add key="appThemeCalcDynamicSize" value="true" />
    <!-- Default|Retail : Must be equal to AppOperationMode value (Respect Case Sensitivity)-->
    <add key="appOperationModeToken" value="Default" />
    <!--HardwareId-->
    <add key="appHardwareId" value="92A4-EADD-8AF0-B693-1111-0010" />
    <!-- Optional used to Force Culture, and Bypass detected OS culture (pt-PT|en-US|fr-FR) -->
    <add key="culture" value="pt-PT" />
    <!-- Financial -->
    <add key="cultureFinancialRules" value="pt-PT" />
    <!-- Images -->
    <add key="useCachedImages" value="false" />
    <!-- INTHEME -->
    <add key="useImageOverlay" value="false" />
    <!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
    <!-- Terminal Configuration-->
    <add key="useVirtualKeyBoard" value="true" />
    <!-- Disable for Slow GFX Computers and when Debugger.IsAttached -->
    <add key="useBaseDialogWindowMask" value="true" />
    <!-- POS Button Label Size-->
    <add key="posBaseButtonMaxCharsPerLabel" value="18" />
    <!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
    <!--Database-->
    <!-- Backups TimeSpan: [Days,] hours, minutes, seconds -->
    <add key="databaseBackupTimeSpan" value="01:00:00" />
    <add key="databaseBackupTimeSpanRangeStart" value="08:00:00" />
    <add key="databaseBackupTimeSpanRangeEnd" value="22:00:00" />
    <!-- Database Script Files -->
    <add key="useDatabaseDataDemo" value="true" />
    <!--
    <add key="databaseType" value="SQLite" />
    <add key="xpoConnectionString" value="XpoProvider=MonoLite;uri=file:{0}.db" />
    <add key="xpoConnectionString" value="XpoProvider=SQLite;Data Source={0}.db;" />
    <add key="databaseType" value="MSSqlServer" />
    <add key="xpoConnectionString" value="XpoProvider=MSSqlServer;Data Source=lpdev\sql2008;Initial Catalog={0};User ID=sa;Password=admin#;Persist Security Info=true;" />
    <add key="databaseType" value="MSSqlServer" />
    <add key="xpoConnectionString" value="XpoProvider=MSSqlServer;Data Source=.\SQLEXPRESS;Initial Catalog={0};User ID=mario.monteiro;Password=logicpulse#2014;Persist Security Info=true;Integrated Security=SSPI;Pooling=false;" />
    <add key="databaseType" value="MySql" />
    <add key="xpoConnectionString" value="XpoProvider=MySql;server=192.168.178.28;database={0};user id=root;password=admin#;persist security info=true;CharSet=utf8;" />
    -->
    <add key="databaseType" value="MySql" />
    <add key="xpoConnectionString" value="XpoProvider=MySql;server=192.168.178.28;database={0};user id=root;password=admin#;persist security info=true;CharSet=utf8;" />

    <!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
    <!-- AT Web Services -->
    <add key="serviceATSendDocuments" value="true" />
    <add key="serviceATSendDocumentsWayBill" value="true" />
    <!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
    <!--DateTime Format-->
    <add key="dateTimeFormatStatusBar" value="dddd, MMMM dd, yyyy | HH:mm:ss tt" />
    <!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
    <!--Paths-->
    <!--Use slash in the end -->
    <add key="pathAssets" value="Assets\" />
    <add key="pathImages" value="Assets\Images\" />
    <add key="pathThemes" value="Assets\Themes\" />
    <add key="pathSounds" value="Assets\Sounds\" />
    <add key="pathResources" value="Resources\" />
    <add key="pathReports" value="Resources\Reports\" />
    <add key="pathTickets" value="Resources\Tickets\" />
    <add key="pathKeyboards" value="Resources\Keyboards\" />
    <add key="pathTemp" value="Temp\" />
    <add key="pathCache" value="Temp\Cache\" />
    <add key="pathBackups" value="Backups\" />
    <!-- Backups\ | \\lpdev\public\LogicPosBackups\ -->
    <add key="pathSaftPt" value="Temp\" />
    <!-- Use required . to use Current App Directory. or Plugins to Use Plugins Directory -->
    <add key="pathPlugins" value="." /><!--Plugins-->
    <!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
    <!-- MoneyPad Values -->
    <!-- PT -->
    <add key="decimalMoneyButtonL1Value" value="0.05" />
    <add key="decimalMoneyButtonL2Value" value="0.10" />
    <add key="decimalMoneyButtonL3Value" value="0.20" />
    <add key="decimalMoneyButtonL4Value" value="0.50" />
    <add key="decimalMoneyButtonL5Value" value="1.00" />
    <add key="decimalMoneyButtonR1Value" value="5.00" />
    <add key="decimalMoneyButtonR2Value" value="10.00" />
    <add key="decimalMoneyButtonR3Value" value="20.00" />
    <add key="decimalMoneyButtonR4Value" value="50.00" />
    <add key="decimalMoneyButtonR5Value" value="100.00" />
    <!-- Miss European -->
    <!--<add key="decimalMoneyButton0XValue" value="0.01" />-->
    <!--<add key="decimalMoneyButton0XValue" value="0.02" />-->
    <!--<add key="decimalMoneyButton0XValue" value="200.00" />-->
    <!--<add key="decimalMoneyButton0XValue" value="500.00" />-->
    <!-- AO -->
    <!--
    <add key="decimalMoneyButtonL1Value" value="1" />
    <add key="decimalMoneyButtonL2Value" value="2" />
    <add key="decimalMoneyButtonL3Value" value="5" />
    <add key="decimalMoneyButtonL4Value" value="10" />
    <add key="decimalMoneyButtonL5Value" value="50" />
    <add key="decimalMoneyButtonR1Value" value="100" />
    <add key="decimalMoneyButtonR2Value" value="200" />
    <add key="decimalMoneyButtonR3Value" value="500" />
    <add key="decimalMoneyButtonR4Value" value="1000" />
    <add key="decimalMoneyButtonR5Value" value="2000" />
    -->
    <!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
    <!-- Database Guids-->
    <!-- Invoice Defaults -->
    <add key="xpoOidConfigurationPaymentConditionDefaultInvoicePaymentCondition" value="4261daa6-c0bd-4ac9-949a-cae0be2dd472" />
    <add key="xpoOidConfigurationPaymentMethodDefaultInvoicePaymentMethod" value="3da1ea12-ea22-4527-af34-dea0dfd64504" />
    <!-- Country -->
    <!-- Default for initial config - Note this now is Assigned on InitPlataformParameters() -->
    <!-- Portugal -->
    <add key="xpoOidConfigurationCountrySystemCountry" value="e7e8c325-a0d4-4908-b148-508ed750676a" />
    <add key="xpoOidConfigurationCountrySystemCountryCountryCode2" value="PT" />
    <!-- Angola -->
    <!--<add key="xpoOidConfigurationCountrySystemCountry" value="9655510a-ff58-461e-9719-c037058f10ed" />-->
    <!--<add key="xpoOidConfigurationCountrySystemCountryCountryCode2" value="AO" />-->
    <!-- Moçambique -->
    <!--<add key="xpoOidConfigurationCountrySystemCountry" value="16fcd7f2-e885-48d8-9f8e-9d224cc36f32" />-->
    <!--<add key="xpoOidConfigurationCountrySystemCountryCountryCode2" value="MZ" />-->
    <!-- Currency -->
    <!-- Default for initial config - Note this now is Assigned on InitPlataformParameters() -->
    <!-- Euro -->
    <add key="xpoOidConfigurationCurrencySystemCurrency" value="28dd2a3a-0083-11e4-96ce-00ff2353398c" />
    <!-- Kwanza -->
    <!--<add key="xpoOidConfigurationCurrencySystemCurrency" value="28da9212-3423-11e4-96ce-00ff2353398c" />-->
    <!-- Metical -->
    <!--<add key="xpoOidConfigurationCurrencySystemCurrency" value="28d16be0-0083-11e4-96ce-00ff2353398c" />-->
    <!-- ConfigurationPlaceTable -->
    <add key="xpoOidConfigurationPlaceTableDefaultOpenTable" value="64d417f6-ff97-4f4b-bded-4bc9bf9f18d9" />
    <!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
    <!-- Hardware : Door-->
    <add key="DoorValueM" value="0" />
    <!-- 0,1,48, 49 -->
    <add key="DoorValueT1" value="3" />
    <!-- 0, 48 -->
    <add key="DoorValueT2" value="49" />
    <!-- 1, 49 -->
    <!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
    <!-- Hardware : Displays -->
    <!--Appostar Customer Display CPD-3230 : VID = 0x03EB | PID = 0x1101-->
    <add key="hardwareDisplayEnabled" value="true" />
    <add key="hardwareDisplayVID" value="0x03EB" />
    <add key="hardwareDisplayPID" value="0x1101" />
    <add key="hardwareDisplayEndPoint" value="Ep01" />
    <add key="hardwareDisplayCodeTable" value="0x10" />
    <add key="hardwareDisplayCharactersPerLine" value="20" />
    <add key="hardwareDisplayGoToStandByInSeconds" value="60" />
    <add key="hardwareDisplayStandByLine1" value="LogicPulse" />
    <add key="hardwareDisplayStandByLine2" value="Bem-Vindo" />
    <!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
    <!-- Hardware : InputReader : Timer Interval im ms -->
    <add key="hardwareInputReaderTimerInterval" value="200" />
    <!-- Hardware : InputReader : Format hardwareInputReader*NAME*Sizes (Size,Size,...)-->
    <!--Priority 1-->
    <add key="hardwareInputReaderBarCodeReaderSizes" value="9,13" />
    <!--7,13-->
    <!--Priority 2-->
    <add key="hardwareInputReaderCardReaderSizes" value="7,10,13" />
    <!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
    <!-- Hardware : Thermal Printer -->
    <add key="PrinterThermalEncoding" value="PC860" />
    <add key="PrinterThermalPrintLogo" value="false" />
    <add key="PrinterThermalImageCompanyLogo" value="Images/Tickets/company_logo_thermal.bmp" />
    <add key="PrinterThermalMaxCharsPerLineNormal" value="48" />
    <add key="PrinterThermalMaxCharsPerLineNormalBold" value="44" />
    <add key="PrinterThermalMaxCharsPerLineSmall" value="64" />
    <add key="PrinterThermalCutCommand" value="0x42,0x00" />
    <!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
    <!--Theme Files-->
    <!-- Windows -->
    <!-- INTHEME -->
    <add key="fileImageBackgroundWindowStartup" value="Backgrounds/Windows/window_startup_{0}x{1}.jpg" />
    <!-- INTHEME -->
    <add key="fileImageBackgroundWindowPos" value="Backgrounds/Windows/{0}/window_pos_{1}x{2}.jpg" />
    <!-- Dialogs -->
    <add key="fileImageBackgroundDialogDefault" value="Backgrounds/Dialogs/dialog_default.jpg" />
    <add key="fileImageBackgroundDialogTables" value="Backgrounds/Dialogs/dialog_tables.jpg" />
    <add key="fileImageDialogBaseMessageTypeImage" value="Icons/DialogsIcons/icon_pos_dialog_{0}.png" />
    <add key="fileImageDialogBaseMessageTypeIcon" value="Icons/DialogsIcons/icon_pos_dialog_{0}_window.png" />
    <!-- Images -->
    <add key="fileImageBackOfficeLogo" value="Images/logo_backoffice.png" />
    <!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
    <!-- Fonts | FontDescription FromString | ex "Ahafoni CLM Bold 100" -->
    <!-- INTHEME -->
    <add key="fontPosBaseButtonSize" value="7" />
    <!-- Used in TablePads-->
    <!-- INTHEME -->
    <add key="fontPosToolbarButton" value="7" />
    <!-- INTHEME -->
    <add key="fontPosStatusBar" value="Bold 11" />
    <!-- INTHEME -->
    <add key="fontPosStatusBarSmall" value="7" />
    <!-- StartupWindow -->
    <!-- INTHEME -->
    <add key="fontStartupWindowVersion" value="Bold 8" />
    <!-- Dialog -->
    <add key="fontBaseDialogButton" value="10" />
    <add key="fontBaseDialogActionAreaButton" value="8" />
    <!-- KeyBoardPad -->
    <add key="fontKeyboardPadTextEntry" value="Bold 14" />
    <add key="fontKeyboardPadPrimaryKey" value="14" />
    <add key="fontKeyboardPadSecondaryKey" value="11" />
    <!-- BackOffice-->
    <add key="fontBackOfficeStatusBar" value="Bold 12" />
    <!-- NumberPadPin -->
    <!-- INTHEME -->
    <add key="fontNumberPadPinButtonKeysTextAndLabel" value="Bold 16" />
    <!-- MoneyPad -->
    <add key="fontMoneyPadButtonKeys" value="Bold 12" />
    <add key="fontMoneyPadTextEntry" value="Bold 18" />
    <!-- TicketPad -->
    <!-- INTHEME -->
    <add key="fontTicketPadPadButtonKeys" value="7" />
    <!-- TicketList -->
    <!-- INTHEME -->
    <add key="fontTicketListColumnTitle" value="Bold 8" />
    <!-- INTHEME -->
    <add key="fontTicketListColumn" value="8" />
    <!-- INTHEME -->
    <add key="fontTicketListLabelLabelTotal" value="Bold 16" />
    <!-- INTHEME -->
    <add key="fontTicketListLabelTotal" value="16" />
    <!-- Accordion -->
    <add key="fontPosBackOfficeParent" value="Bold 10" />
    <!-- TODO:THEME:Bold 11 -->
    <add key="fontPosBackOfficeChild" value="9" />
    <!-- TODO:THEME:10 -->
    <!-- Table Dialog -->
    <add key="fontTableDialogTableNumber" value="Bold 14" />
    <!-- POS EntryBox Fields -->
    <add key="fontEntryBoxLabel" value="Bold 10" />
    <add key="fontEntryBoxValue" value="Bold 14" />
    <!-- GenericTreeView -->
    <add key="fontGenericTreeViewColumnTitle" value="11" />
    <add key="fontGenericTreeViewColumn" value="11" />
    <add key="fontGenericTreeViewSelectRecordColumnTitle" value="11" />
    <add key="fontGenericTreeViewSelectRecordColumn" value="11" />
    <add key="fontGenericTreeViewFinanceDocumentArticleColumnTitle" value="10" />
    <add key="fontGenericTreeViewFinanceDocumentArticleColumn" value="10" />
    <!-- PagePad -->
    <add key="fontPagePadNavigatorButton" value="9" />
    <!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
    <!-- Finance -->
    <!-- Used in Angola to use Tax=0 Without Required to choose VatExemptionReason -->
    <add key="requireToChooseVatExemptionReason" value="false" />
    <!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
    <!-- Int -->
    <!-- INTHEME : Added for Dynamic Theme -->
    <add key="intStartupWindowObjectsNumberPadPinRight" value="120" />
    <!-- INTHEME : Added for Dynamic Theme -->
    <add key="intPosMainWindowComponentsMargin" value="10" />
    <!-- INTHEME : Added for Dynamic Theme -->
    <add key="intPosMainWindowEventBoxStatusBar1And2Height" value="40" />
    <!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
    <!-- Colors -->
    <add key="colorPosHelperBoxsBackground" value="255, 0, 0" />
    <!-- INTHEME -->
    <add key="colorPosStatusBar1Background" value="88, 88, 88" />
    <!-- INTHEME -->
    <add key="colorPosStatusBar2Background" value="72, 84, 96" />
    <!-- INTHEME -->
    <add key="colorPosStatusBarFont" value="238, 238, 238" />
    <!-- INTHEME -->
    <add key="colorPosStatusBarFontSmall" value="218, 218, 218" />
    <!-- INTHEME -->
    <add key="colorTicketPadButtonFont" value="0, 0, 0" />
    <!-- Colors : USED IN IN THEME -->
    <!-- INTHEME -->
    <add key="colorFullScreenBackground" value=" 5,  5,  5" />
    <!-- INTHEME -->
    <add key="colorFullScreenUsefullAreaBackground" value=" 61,  61,  61" />
    <!-- Global Dialogs -->
    <add key="colorBaseDialogTitleBackground" value=" 61,  61,  61" />
    <add key="colorBaseDialogWindowBackground" value="255, 255, 255" />
    <add key="colorBaseDialogWindowBackgroundBorder" value="0, 0, 0" />
    <add key="colorBaseDialogActionAreaButtonFont" value="255, 255, 255" />
    <add key="colorBaseDialogActionAreaButtonBackground" value=" 68, 119, 164" />
    <add key="colorBaseDialogEntryBoxBackground" value="189, 189, 189" />
    <add key="colorBaseDialogDefaultButtonFont" value=" 59,  59,  57" />
    <add key="colorBaseDialogDefaultButtonBackground" value="163, 199,  73" />
    <add key="colorBaseDialogSecondaryButtonBackground" value=" 72,  84,  96" />
    <add key="colorBaseDialogSecondaryButtonFont" value="255, 255, 255" />
    <add key="colorBaseDialogEmptyButtonBackground" value="238, 243, 220" />
    <!-- Dialog: PosPaymentsDialog -->
    <add key="colorPosPaymentsDialogTotalPannelBackground" value=" 61,  61,  61" />
    <!-- Pos: Toolbar -->
    <!-- INTHEME -->
    <add key="colorPosToolbarDefaultButtonFont" value="255, 255, 255" />
    <!-- TablePad Buttons-->
    <add key="colorPosTablePadTableTableStatusOpenButtonBackground" value="100, 185, 100" />
    <add key="colorPosTablePadTableTableStatusReservedButtonBackground" value="185, 100, 100" />
    <!-- TicketList -->
    <add key="colorPosTicketListModeTicketBackground" value="255, 255, 255" />
    <add key="colorPosTicketListModeOrderMainBackground" value="235, 255, 235" />
    <!-- NumberPad -->
    <add key="colorPosNumberPadLeftButtonBackground" value=" 72,  84,  96" />
    <add key="colorPosNumberRightButtonBackground" value="185, 185, 185" />
    <!-- Validation -->
    <add key="colorEntryValidationValidFont" value="0, 75, 0" />
    <add key="colorEntryValidationInvalidFont" value="125, 0, 0" />
    <add key="colorEntryValidationValidBackground" value="255, 255, 255" />
    <add key="colorEntryValidationInvalidBackground" value=" 255, 228, 228" />
    <!-- KeyBoardPad-->
    <add key="colorKeyboardPadKeyDefaultFont" value="255, 255, 255" />
    <add key="colorKeyboardPadKeySecondaryFont" value="125, 125, 125" />
    <add key="colorKeyboardPadKeyBackground" value="84, 84, 84" />
    <add key="colorKeyboardPadKeyBackgroundActive" value="144, 144, 144" />
    <!-- BackOffice -->
    <add key="colorBackOfficeContentBackground" value="88, 88, 88" />
    <add key="colorBackOfficeAccordionFixBackground" value="239, 248, 218" />
    <add key="colorBackOfficeStatusBarBackground" value="61, 61, 61" />
    <add key="colorBackOfficeStatusBarBottomBackground" value="222, 222, 222" />
    <add key="colorBackOfficeStatusBarFont" value="218, 218, 218" />
    <!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
    <!-- Position-->
    <!-- INTHEME -->
    <add key="positionButtonFavorites" value="3, 83" />
    <!-- INTHEME -->
    <add key="positionTablePadFamily" value="3, 179" />
    <!-- INTHEME -->
    <add key="positionTablePadSubFamily" value="139, 83" />
    <!-- INTHEME -->
    <add key="positionTablePadArticle" value="139, 179" />
    <!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
    <!-- Table Config (Columns x Rows-->
    <!-- INTHEME -->
    <add key="tableConfigTablePadFamily" value="5, 1" />
    <!-- INTHEME -->
    <add key="tableConfigTablePadSubFamily" value="1, 4" />
    <!-- INTHEME -->
    <add key="tableConfigTablePadArticle" value="5, 4" />
    <!-- INTHEME -->
    <add key="tableConfigTablePadLoginUser" value="4, 1" />
    <!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
    <!-- Sizes -->
    <!-- INTHEME : Fixed Size "120, 90", or use "0, 0" to use Dynamic Size based on Screen Resolution -->
    <add key="sizePosBaseButton" value="120, 90" />
    <!-- INTHEME : Fixed Size "82, 62", or use "0, 0" to use Dynamic Size based on Screen Resolution -->
    <add key="sizePosToolbarButton" value="82, 62" />
    <!-- INTHEME : Fixed Size "82, 62", or use "0, 0" to use Dynamic Size based on Screen Resolution -->
    <add key="sizePosTicketPadButton" value="82, 62" />
    <!-- INTHEME : Fixed Size "164, 62", or use "0, 0" to use Dynamic Size based on Screen Resolution -->
    <add key="sizePosTicketPadButtonDoubleWidth" value="164, 62" />
    <!-- INTHEME : Fixed Size "36, 36", or use "0, 0" to use Dynamic Size based on Screen Resolution -->
    <add key="sizePosToolbarButtonIcon" value="36, 36" />
    <!-- INTHEME : Fixed Size "36, 36", or use "0, 0" to use Dynamic Size based on Screen Resolution -->
    <add key="sizePosTicketPadButtonIcon" value="36, 36" />
    <!-- INTHEME -->
    <add key="sizePosSmallButtonScroller" value="68, 37" />
    <add key="sizePosTableButton" value="136, 82" />
    <add key="sizePosUserButton" value="136, 82" />
    <add key="sizeBaseDialogDefaultButton" value="108, 67" />
    <add key="sizeBaseDialogDefaultButtonIcon" value=" 36, 36" />
    <add key="sizeBaseDialogActionAreaButton" value=" 84, 61" />
    <!-- TODO:THEME 84,61|84,50 -->
    <add key="sizeBaseDialogActionAreaButtonIcon" value=" 28, 28" />
    <!-- TODO:THEME 28,28|18,18 -->
    <add key="sizeBaseDialogActionAreaBackOfficeNavigatorButton" value="70, 50" />
    <add key="sizeBaseDialogActionAreaBackOfficeNavigatorButtonIcon" value=" 28, 28" />
    <!-- KeyBoardPad -->
    <add key="sizeKeyboardPadDefaultKey" value=" 46, 50" />
    <!-- PagePad -->
    <add key="sizePagesPadNavigatorButton" value="50, 55" />
    <!-- TODO:THEME : 38, 38, Height used in < and > all other uses auto width -->
    <add key="sizePagesPadNavigatorButtonIcon" value="20, 20" />

    <!-- StartupWindow -->
    <!-- INTHEME : Added for Dynamic Theme -->
    <add key="sizeStartupWindowObjectsTablePadUserMarginLeftTop" value="120, 120" />
    <!-- INTHEME : Added for Dynamic Theme -->
    <add key="sizeStartupWindowObjectsTablePadUserButton" value="120, 102" />
    <!-- INTHEME : Added for Dynamic Theme -->
    <add key="sizeStartupWindowObjectsTablePadUserTablePadUserButtonPrev" value="120, 60" />
    <!-- INTHEME : Added for Dynamic Theme -->
    <add key="sizeStartupWindowObjectsNumberPadPin" value="315, 434" />
    <!-- INTHEME : Added for Dynamic Theme -->
    <add key="sizeStartupWindowObjectsNumberPadPinButton" value="99, 59" />
    <!-- INTHEME : Added for Dynamic Theme -->
    <add key="sizeStartupWindowObjectsLabelVersion" value="307, 50" />
    <!-- INTHEME : Added for Dynamic Theme -->
    <add key="sizeStartupWindowObjectsLabelVersionSizeMarginRightBottom" value="124, 128" />

    <!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
    <!-- UI Components -->
    <!-- CurrentAccount|CustomerCard-->
    <add key="posPaymentsDialogUseCurrentAccount" value="false" />
    <!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <!--WebService-->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:50391/Service1.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceReference.IService1" name="BasicHttpBinding_IService1" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Mono.Cairo" publicKeyToken="0738eb9f132ed756" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.9.0" newVersion="6.9.9.0" />
      </dependentAssembly>
    </assemblyBinding>
    <!-- Specifies whether assemblies from remote sources should be granted full trust -->
    <loadFromRemoteSources enabled="true"/>
  </runtime>
  <applicationSettings>
    <logicpos.Properties.Settings>
      <setting name="logicpos_WSIntellilock_ActivationService" serializeAs="String">
        <value>http://licence.logicpulse.pt/ws/ActivationService.asmx</value>
      </setting>
    </logicpos.Properties.Settings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>