<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClosedXML" version="0.94.2" targetFramework="net451" />
  <package id="DevExpress.Data" version="20.1.6" targetFramework="net461" />
  <package id="DevExpress.Xpo" version="20.1.6" targetFramework="net461" />
  <package id="DocumentFormat.OpenXml" version="2.7.2" targetFramework="net451" />
  <package id="ExcelDataReader" version="3.6.0" targetFramework="net451" />
  <package id="ExcelDataReader.DataSet" version="3.6.0" targetFramework="net451" />
  <package id="ExcelNumberFormat" version="1.0.3" targetFramework="net451" />
  <package id="FastMember" version="1.3.0" targetFramework="net451" />
  <package id="FSharp.Charting.Gtk" version="2.1.0" targetFramework="net451" />
  <package id="FSharp.Core" version="4.0.0.1" targetFramework="net451" />
  <package id="OxyPlot.Core" version="1.0.0" targetFramework="net451" />
  <package id="OxyPlot.GtkSharp" version="1.0.0" targetFramework="net451" />
</packages>