<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClosedXML" version="0.95.3" targetFramework="net48" />
  <package id="DevExpress.Data" version="20.1.6" targetFramework="net48" />
  <package id="DevExpress.Xpo" version="20.1.6" targetFramework="net48" />
  <package id="DocumentFormat.OpenXml" version="2.11.3" targetFramework="net48" />
  <package id="ExcelDataReader" version="3.7.0-develop00310" targetFramework="net48" />
  <package id="ExcelDataReader.DataSet" version="3.7.0-develop00310" targetFramework="net48" />
  <package id="ExcelNumberFormat" version="1.0.10" targetFramework="net48" />
  <package id="FastMember" version="1.5.0" targetFramework="net48" />
  <package id="FSharp.Charting.Gtk" version="2.1.0" targetFramework="net451" />
  <package id="FSharp.Core" version="4.7.2" targetFramework="net48" />
  <package id="log4net" version="2.0.13" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="OxyPlot.Core" version="2.0.0" targetFramework="net48" />
  <package id="OxyPlot.GtkSharp" version="2013.2.118.1" targetFramework="net48" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.Packaging" version="4.7.0" targetFramework="net48" />
</packages>