<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
  <!-- Sections -->
  <configSections>
    <!-- Required Xsd 
    to remove warning: The ‘log4net’ element is not declared 
    http://www.thepicketts.org/2012/12/how-to-remove-warning-the-log4net-element-is-not-declared/  
    -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="logicpos.financial.console.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
  <!-- Log4Net -->
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n"/>
      </layout>
    </appender>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="logicpos.financial.service.log"/>
      <param name="AppendToFile" value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%-5p] %c : %m%n"/>
      </layout>
    </appender>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="FileAppender"/>
    </root>
  </log4net>

  <!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->

  <!-- AppSettings -->

  <appSettings>

    <!-- Optional used to Force Culture, and Bypass detected OS culture (pt-PT|en-US|fr-FR) -->
    <!--<add key="culture" value="pt-PT" />-->
    <!-- Financial -->
    <!--<add key="cultureFinancialRules" value="pt-PT" />-->

    <!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
    <!--Database-->

<!-- MySQL
<add key="databaseType" value="MySql" />
<add key="databaseName" value="logicposdb01" />
<add key="xpoConnectionString" value="XpoProvider=MySql;server=localhost;database={0};user id=ROOT;password=admin#;persist security info=true;CharSet=utf8;" />
-->

<!-- SQL Server
-->    
<add key="databaseType" value="MSSqlServer"/>
<add key="databaseName" value="logicposdb"/>
<add key="xpoConnectionString" value="XpoProvider=MSSqlServer;Data Source=192.168.1.33\SQL2017;Initial Catalog={0};User ID=sa;Password=admin#;Persist Security Info=true;"/>    
    
<!--Cristina-->
<!--
<add key="databaseType" value="MSSqlServer" />
<add key="databaseName" value="logicposdb_production" />
<add key="xpoConnectionString" value="XpoProvider=MSSqlServer;Data Source=LPROOT;Initial Catalog={0};User ID=sa;Password=Lpt#2014;Persist Security Info=true;" />
-->

    <!--<add key="databaseType" value="SQLite" />-->
    <!--<add key="xpoConnectionString" value="XpoProvider=SQLite;Data Source=C:\{0}.db" />-->
    
    <!--Production-->
    <!--<add key="databaseType" value="MSSqlServer" />-->
    <!--<add key="databaseName" value="logicposdb_production" />-->
    <!--<add key="xpoConnectionString" value="XpoProvider=MSSqlServer;Data Source=.\SQLEXPRESS;Initial Catalog={0};User ID=mario.monteiro;Password=logicpulse#2014;Persist Security Info=true;Integrated Security=SSPI;Pooling=false;" />-->
    <!--<add key="xpoConnectionString" value="XpoProvider=MSSqlServer;Data Source=LPSERVER\SQL2012;Initial Catalog={0};User ID=sa;Password=Lpt#2014;Persist Security Info=true;" />-->

    <!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
    <!--DateTime Format-->

    <!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
    <!--Paths-->

    <!--Use slash in the end -->
    <add key="pathTemp" value="Temp\"/>
    <add key="pathCertificates" value="Resources\Certificates\"/>
    <!-- In Service Mode we must use full Path, else we get the  'IasMigPlugin.dll' System.BadImageFormatException Error, or NPE  in logicpos.financial.servicewcf.Service1.SendDocument(Guid pDocumentMaster), this is a hard to find Trick -->
    <!-- Release -->
    <!--<add key="pathPlugins" value="c:\Program Files (x86)\Logicpulse\logicpos\" />-->
    <!-- Debug -->
    <add key="pathPlugins" value="c:\SVN\logicpos\trunk\src\logicpos\logicpos_pos_opensource\logicpos\bin\Debug\"/>

    <!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
    <!-- Database Guids-->

    <!-- Portugal -->
    <add key="xpoOidConfigurationCountrySystemCountry" value="e7e8c325-a0d4-4908-b148-508ed750676a"/>
    <!-- Currency -->
    <!-- Euro -->
    <add key="xpoOidConfigurationCurrencySystemCurrency" value="28dd2a3a-0083-11e4-96ce-00ff2353398c"/>

    <!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
    <!--Service Configuration-->

    <!-- Service timer to Sending Pending Documents -->
    <add key="serviceTimerEnabled" value="true"/>
    <!--This must be greater than servicesATRequestTimeout-->
    <add key="serviceTimerInterval" value="10000"/><!--600000-->
    <!--Set hour:minutes to send documents to AT-->
    <add key="serviceTimer" value="09:45"/>

    <!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
    <!--AT Services-->

    <!--Default:5000|Disabled:-1-->
    <add key="servicesATRequestTimeout" value="5000"/>
    <!-- Test Mode Parameters -->
    <add key="servicesATTestModeFilePublicKey" value="ChaveCifraPublicaAT2023.cer"/><!--In Test.....dont work yet.....ChavePublicaAT.cer-->
    <add key="servicesATTestModeFileCertificate" value="TesteWebservice.pfx"/>
    <!-- Production Mode Parameters -->
    <add key="servicesATProdModeFilePublicKey" value="ChaveCifraPublicaAT2023.cer"/> <!--508278155.cer-->
    <add key="servicesATProdModeFileCertificate" value="508278155.pfx"/>
  </appSettings>

  <applicationSettings>
  </applicationSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
