<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- path to folder with reports -->
    <add key="FastReport.ReportsPath" value="C:\Program files\FastReports\FastReport.Net\Demos\WCF" />
    <!-- Path to folder with prepared reports. Set it to empty line for disable upload prepared reports. -->
    <add key="FastReport.PreparedPath" value="C:\Program files\FastReports\FastReport.Net\Demos\WCF\PreparedUpload" />
    <!-- Value of cleanup delay for prepared reports in minutes. Set it to 0 for disable cleanup. -->
    <add key="FastReport.PreparedCleanupDelay" value="60" />
    <!-- name of connection string for reports -->
    <add key="FastReport.ConnectionStringName" value="FastReportDemo" />
    <!-- Comma-separated list of available formats PDF,DOCX,XLSX,PPTX,RTF,ODS,ODT,MHT,CSV,DBF,XML,TXT,FPX,HTML. 
    You can delete any or change order in this list. -->
    <add key="FastReport.Gear" value="PDF,DOCX,XLSX,PPTX,RTF,ODS,ODT,MHT,CSV,DBF,XML,TXT,FPX,HTML" />   
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <!-- you need change path to database to your own -->
    <add name="FastReportDemo" connectionString="XsdFile=;XmlFile=C:\Users\Alexander\Documents\MyProjects\fr.net\Demos\Reports\nwind.xml" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="FastReportServiceBehavior" name="FastReport.Service.ReportService">
        <endpoint address="" binding="wsHttpBinding" contract="FastReport.Service.IFastReportService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/FastReportService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="FastReportServiceBehavior">
          <serviceMetadata httpGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
<!--      <basicHttpBinding>
        <binding messageEncoding="Mtom" closeTimeout="00:02:00" openTimeout="00:02:00" receiveTimeout="00:10:00" sendTimeout="00:02:00" 
		maxReceivedMessageSize="2147483647" 
		maxBufferSize="2147483647" 
		maxBufferPoolSize="2147483647"
		transferMode="Streamed">
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>-->
      <wsHttpBinding>
        <binding messageEncoding="Mtom" closeTimeout="00:02:00" openTimeout="00:02:00" receiveTimeout="00:10:00" sendTimeout="00:02:00" 
		maxReceivedMessageSize="2147483647" 
		maxBufferPoolSize="2147483647">
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>