<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->

  <!-- Sections -->

  <configSections>
    <!-- Required Xsd 
    to remove warning: The ‘log4net’ element is not declared 
    http://www.thepicketts.org/2012/12/how-to-remove-warning-the-log4net-element-is-not-declared/  
    -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="logicpos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->

  <!-- Log4Net -->
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
      </layout>
    </appender>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="logicpos.reports.log" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%-5p] %c : %m%n" />
      </layout>
    </appender>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>

  <appSettings>

    <!-- Application -->
    <add key="appName" value="logicpos.reports" />
    <add key="appSessionFile" value="appsession_{0}.json" />
    <add key="appSessionFileJsonIndented" value="true" />
    <add key="appMultiUserEnvironment" value="true" />
    <add key="appTerminalIdConfigFile" value="terminal.id" />
    <add key="appTheme" value="Default" />

    <!-- Optional used to Force Culture, and Bypass detected OS culture (pt-PT|en-US|fr-FR) -->
    <add key="culture" value="pt-PT" />
    <add key="cultureNumberFormat" value="en-US" />

    <!-- DocumentFinanceType -->
    <add key="xpoOidDocumentFinanceTypeCurrentAccountInput" value="235f06f3-5ec3-4e13-977b-325614b07e35" />


    <!-- Images -->
    <add key="useCachedImages" value="true" />
    <add key="useImageOverlay" value="false" />

    <!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->

    <!-- Terminal Configuration-->
    <add key="useVirtualKeyBoard" value="true" />

    <!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->

    <!-- Financial -->
    <add key="documentsPadLength" value="6" />
    <add key="establishmentCode" value="LP28" />
    <!-- SAF-T(PT)-->
    <add key="dateTimeFormatDocumentDate" value="yyyy-MM-dd" />
    <add key="dateTimeFormatSystemEntryDate" value="yyyy-MM-ddThh:mm:ss" />

    <!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
    <add key="executableComposer" value="logicpos.composer.exe" />

    <!--Database-->
    <!-- Valid databaseType Values: SQLite, MSSqlServer, MySql -->

    <add key="databaseName" value="logicposdb_20160315" />
    <!--logicpos2-->

    <!-- Database Script Files -->
    <add key="sqlDatabaseSchema" value="Resources\Database\{0}\databaseschema.sql" />
    <add key="sqlDatabaseData" value="Resources\Database\databasedata.sql" />
    <add key="sqlDatabaseViews" value="Resources\Database\databaseviews.sql" />

    <!--
    <add key="databaseType" value="MSSqlServer" />
    <add key="xpoConnectionString" value="XpoProvider=MSSqlServer;Data Source=lpdev\sql2008;User ID=sa;Password=admin#;Initial Catalog={0};Persist Security Info=true;" />
    <add key="xpoConnectionString" value="XpoProvider=MSSqlServer;Data Source=192.168.178.5\sql2008;User ID=sa;Password=admin#;Initial Catalog={0};Persist Security Info=true;" />

    <add key="databaseType" value="MSSqlServer" />
    <add key="xpoConnectionString" value="XpoProvider=MSSqlServer;Integrated Security=SSPI;Pooling=false;Data Source=.\SQLEXPRESS;User ID=mario;Password=logicpulse#2014;Initial Catalog={0};Persist Security Info=true;" />

    <add key="databaseType" value="MySql" />
    <add key="xpoConnectionString" value="XpoProvider=MySql;server=localhost;user id=root;password=adminx;database={0};persist security info=true;CharSet=utf8;" />
    <add key="xpoConnectionString" value="XpoProvider=MySql;server=192.168.178.43;user id=root;password=adminx;database={0};persist security info=true;CharSet=utf8;" />
    
    <add key="databaseType" value="SQLite" />
    <add key="xpoConnectionString" value="XpoProvider=MonoLite;uri=file:{0}.db" />

    <add key="databaseType" value="MySql" />
    <add key="xpoConnectionString" value="XpoProvider=MySql;server=192.168.178.51;user id=salestrack;password=salestrack;database={0};persist security info=true;CharSet=utf8;" />
    -->

    <add key="databaseType" value="MySql" />
    <add key="xpoConnectionString" value="XpoProvider=MySql;server=192.168.178.65;database={0};user id=root;password=adminx;persist security info=true;CharSet=utf8;" />

    <!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->

    <!--DateTime Format-->
    <add key="dateTimeFormat" value="yyyy-MM-dd hh:mm:ss" />
    <add key="dateTimeFormatStatusBar" value="dddd, MMMM dd, yyyy | h:mm:ss tt" />
    <add key="dateTimeFormatHour" value="hh:mm:ss" />

    <!-- Decimal Format -->
    <add key="decimalFormat" value="N" />
    <add key="decimalFormatCurrency" value="C" />

    <!-- Currency -->
    <add key="CURRENCY_LABEL" value="KWANZA" />
    <add key="CURRENCY_ABREV" value="Kz" />
    <add key="CURRENCY_SYMBOL" value="KZ" />

    <!-- TODO Joana : Change 
    <add key="currencyLabel" value="Kwanza" />
    <add key="currencyAcronym" value="Kz" />
    <add key="currencySymbol" value="KZ" />
    -->

    <!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->

    <!--Paths-->
    <!--Use slash in the end -->
    <add key="pathAssets" value="Assets\" />
    <add key="pathImages" value="Assets\Images\" />
    <add key="pathThemes" value="Assets\Themes\" />
    <add key="pathSounds" value="Assets\Sounds\" />
    <add key="pathResources" value="Resources\" />
    <add key="pathReports" value="Reports\" />
    <add key="pathTickets" value="Resources\Tickets\" />
    <add key="pathKeyboards" value="Resources\Keyboards\" />
    <add key="pathTemp" value="Temp\" />
    <add key="pathCache" value="Temp\Cache\" />
    <add key="pathBackups" value="Backups\" />

    <!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->

    <!--Files-->
    <add key="fileImageBackgroundWindowStartup" value="Backgrounds\window_startup.jpg" />
    <add key="fileImageBackgroundWindowPos" value="Backgrounds\window_pos.jpg" />

    <!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->

    <!-- Messages -->
    <add key="messageUnderConstruction" value="Under Construction! This function is not implemented!" />
    <add key="messageTextValidationError" value="Error in Validation or Required Field! Please correct/fill your entry(s) and try again" />
    <add key="messageLowResolutionDetected" value="Error! Low resolution detected! This Application only runs on monitors with resolutions of {0}x{1} or above!" />

    <!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->

    <!-- POS-->
    <add key="posUsedScreenWidth" value="1024" />
    <add key="posUsedScreenHeight" value="768" />
    <add key="posBaseButtonMaxCharsPerLabel" value="18" />

    <!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->

    <!-- Fonts | FontDescription FromString | ex "Ahafoni CLM Bold 100" -->
    <add key="fontPosBaseButtonSize" value="10" />
    <add key="fontPosToolbarButton" value="9" />
    <add key="fontPosStatusBar" value="Bold 12" />
    <add key="fontPosStatusBarSmall" value="7" />

    <!-- StartupWindow -->
    <add key="fontStartupWindowVersion" value="Bold 10" />

    <!-- Dialog -->
    <add key="fontBaseDialogButton" value="10" />
    <add key="fontBaseDialogActionAreaButton" value="9" />

    <!-- KeyBoardPad -->
    <add key="fontKeyboardPadTextEntry" value="Bold 14" />
    <add key="fontKeyboardPadPrimaryKey" value="14" />
    <add key="fontKeyboardPadSecondaryKey" value="11" />

    <!-- BackOffice-->
    <add key="fontBackOfficeStatusBar" value="Bold 12" />

    <!-- NumberPadPin -->
    <add key="fontNumberPadPinButtonKeysTextAndLabel" value="Bold 16" />

    <!-- MoneyPad -->
    <add key="fontMoneyPadButtonKeys" value="Bold 12" />
    <add key="fontMoneyPadTextEntry" value="Bold 18" />

    <!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->

    <!-- Colors -->
    <add key="colorFullScreenBackground" value=" 5,  5,  5" />
    <!-- 51,  51,  51 -->
    <add key="colorFullScreenUsefullAreaBackground" value=" 61,  61,  61" />
    <add key="colorPosHelperBoxsBackground" value="255, 255, 255" />
    <add key="colorPosStatusBar1Background" value="88, 88, 88" />
    <add key="colorPosStatusBar2Background" value="72, 84, 96" />
    <add key="colorPosStatusBarFont" value="228, 228, 228" />

    <!-- Global Dialogs -->
    <add key="colorBaseDialogTitleBackground" value=" 61,  61,  61" />
    <add key="colorBaseDialogWindowBackground" value="255, 255, 255" />
    <add key="colorBaseDialogActionAreaButtonFont" value="255, 255, 255" />
    <add key="colorBaseDialogActionAreaButtonBackground" value=" 68, 119, 164" />
    <add key="colorBaseDialogEntryBoxBackground" value="189, 189, 189" />
    <add key="colorBaseDialogDefaultButtonFont" value=" 59,  59,  57" />
    <add key="colorBaseDialogDefaultButtonBackground" value="163, 199,  73" />
    <add key="colorBaseDialogSecondaryButtonBackground" value=" 72,  84,  96" />
    <add key="colorBaseDialogSecondaryButtonFont" value="255, 255, 255" />
    <add key="colorBaseDialogEmptyButtonBackground" value="238, 243, 220" />

    <!-- Dialog: PosPaymentsDialog -->
    <add key="colorPosPaymentsDialogTotalPannelBackground" value=" 61,  61,  61" />

    <!-- Pos: Buttons -->
    <!--
    <add key="colorPosButtonFavoritesBackground" value="190,  102, 204" />
    <add key="colorPosButtonFamilyBackground" value="138, 181,  63" />
    <add key="colorPosButtonSubFamilyBackground" value=" 79, 115, 148" />
    <add key="colorPosButtonArticleBackground" value="230, 230, 230" />
    -->

    <!-- Pos: Toolbar -->
    <add key="colorPosToolbarDefaultButtonFont" value="255, 255, 255" />
    <add key="colorPosToolbarCloseButtonBackground" value="196,  94,  79" />
    <add key="colorPosToolbarDefaultButtonBackground" value=" 72,  84,  96" />

    <!-- Pos: TicketPad -->
    <add key="colorPosTicketPadLeftButtonBackground" value="185, 185, 185" />
    <add key="colorPosTicketPadRightButtonBackground" value="163, 199,  73" />

    <!-- Pos: TablePad Buttons-->
    <add key="colorPosTablePadTableTableStatusOpenButtonBackground" value="100, 185, 100" />
    <add key="colorPosTablePadTableTableStatusReservedButtonBackground" value="185, 100, 100" />

    <!-- Pos: TicketList -->
    <add key="colorPosTicketListModeTicketBackground" value="255, 255, 255" />
    <add key="colorPosTicketListModeOrderMainBackground" value="235, 255, 235" />

    <!-- Pos: NumberPad -->
    <add key="colorPosNumberPadLeftButtonBackground" value=" 72,  84,  96" />
    <add key="colorPosNumberRightButtonBackground" value="185, 185, 185" />

    <!-- Validation -->
    <add key="colorEntryValidationValidFont" value="0, 75, 0" />
    <add key="colorEntryValidationInvalidFont" value="75, 0, 0" />
    <add key="colorEntryValidationValidBackground" value="255, 255, 255" />
    <add key="colorEntryValidationInvalidBackground" value=" 255, 228, 228" />

    <!-- KeyBoardPad-->
    <add key="colorKeyboardPadKeyDefaultFont" value="255, 255, 255" />
    <add key="colorKeyboardPadKeySecondaryFont" value="125, 125, 125" />
    <add key="colorKeyboardPadKeyBackground" value="84, 84, 84" />
    <add key="colorKeyboardPadKeyBackgroundActive" value="144, 144, 144" />

    <!-- BackOffice -->
    <add key="colorBackOfficeContentBackground" value="88, 88, 88" />
    <add key="colorBackOfficeAccordionFixBackground" value="239, 248, 218" />
    <add key="colorBackOfficeStatusBarBackground" value="61, 61, 61" />
    <add key="colorBackOfficeStatusBarBottomBackground" value="222, 222, 222" />
    <add key="colorBackOfficeStatusBarFont" value="218, 218, 218" />

    <!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->

    <!-- Position-->
    <add key="positionTablePadFamily" value="3, 179" />
    <add key="positionTablePadSubFamily" value="139, 83" />
    <add key="positionTablePadArticle" value="139, 179" />

    <!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->

    <!-- Table Config (Columns x Rows-->
    <add key="tableConfigTablePadFamily" value="5, 1" />
    <add key="tableConfigTablePadSubFamily" value="1, 4" />
    <add key="tableConfigTablePadArticle" value="5, 4" />

    <!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->

    <!-- Sizes -->
    <add key="sizePosBaseButton" value="136, 96" />
    <add key="sizePosToolbarButton" value="80, 61" />
    <add key="sizePosTableButton" value="136, 82" />
    <add key="sizePosUserButton" value="136, 82" />
    <add key="sizePosSmallButtonScroller" value="68, 37" />
    <add key="sizeBaseDialogDefaultButton" value="108, 67" />
    <add key="sizeBaseDialogDefaultButtonIcon" value=" 38, 38" />
    <add key="sizeBaseDialogActionAreaButton" value=" 60, 60" />
    <add key="sizeBaseDialogActionAreaButtonIcon" value=" 30, 30" />

    <!-- KeyBoardPad -->
    <add key="sizeKeyboardPadDefaultKey" value=" 46, 50" />

    <!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->

    <!-- Values -->
    <add key="decimalMoneyButtonL1Value" value="0.05" />
    <add key="decimalMoneyButtonL2Value" value="0.10" />
    <add key="decimalMoneyButtonL3Value" value="0.20" />
    <add key="decimalMoneyButtonL4Value" value="0.50" />
    <add key="decimalMoneyButtonL5Value" value="1.00" />
    <add key="decimalMoneyButtonR1Value" value="5.00" />
    <add key="decimalMoneyButtonR2Value" value="10.00" />
    <add key="decimalMoneyButtonR3Value" value="20.00" />
    <add key="decimalMoneyButtonR4Value" value="50.00" />
    <add key="decimalMoneyButtonR5Value" value="100.00" />
    <!-- Miss European -->
    <!--<add key="decimalMoneyButton0XValue" value="0.01" />-->
    <!--<add key="decimalMoneyButton0XValue" value="0.02" />-->
    <!--<add key="decimalMoneyButton0XValue" value="200.00" />-->
    <!--<add key="decimalMoneyButton0XValue" value="500.00" />-->

    <!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->

    <!-- RegEx -->
    <add key="regexAlfa" value="^[A-Za-zéúíóáÉÚÍÓÁèùìòàÈÙÌÒÀõãñÕÃÑêûîôâÊÛÎÔÂÇç \s]*$" />
    <add key="regexAlfaNumeric" value="^[0-9A-Za-zéúíóáÉÚÍÓÁèùìòàÈÙÌÒÀõãñÕÃÑêûîôâÊÛÎÔÂÇç\- \s]*$" />
    <add key="regexAlfaNumericExtended" value="^[0-9A-Za-zéúíóáÉÚÍÓÁèùìòàÈÙÌÒÀõãñÕÃÑêûîôâÊÛÎÔÂÇç€$ºª@#%()!?\- \.\,\s]*$" />
    <add key="regexAlfaNumericFilePath" value="^[0-9A-Za-z\-\\\._\/ \s]*$" />
    <add key="regexInteger" value="^\d+$" />
    <add key="regexIntegerGreaterThanZero" value="^[1-9][0-9]*$" />
    <add key="regexIntegerGreaterEqualThanZero" value="^[0-9]*$" />
    <!--Used to detect Decimal Input Entrys in BackOffice XPOWidgets : , or . Culture Realated-->
    <add key="regexDecimalGreaterThanZero" value="^\s*(?=.*[1-9])\d*(?:[\.,]\d{1,4})?\s*$" />
    <!-- http://www.nationwidebarcode.com/upc-country-codes/ -->
    <add key="regexEan12andEan4" value="^560\d{9}$|^560\d{11}$" />
    <add key="regexEmail" value="^[_a-z0-9-]+(\.[_a-z0-9-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$" />
    <!-- Henrique -->
    <add key="regexZipCode" value="^\d{4}(-\d{3})?$" />
    <add key="regexDate" value="^(0[1-9]|[12][0-9]|3[01])[- /.](0[1-9]|1[012])[- /.](19|20)\d\d$" />
    <add key="regexFiscalNumber" value="^[0-9A-Za-z\- \s]*$" />
    <!-- ^[1-9][0-9]{8}$ -->
    <add key="regexLoginPin" value="^[0-9]{4,12}$" />
    <add key="regexIntegerColonSeparated" value="^(\d+(:\d+)*)?$" />
    <!-- Article -->
    <add key="regexArticleDesignation" value="^[0-9A-Za-zéúíóáÉÚÍÓÁèùìòàÈÙÌÒÀõãñÕÃÑêûîôâÊÛÎÔÂçÇ!?\-_ \.\,\s]{3,50}$" />
    <add key="regexArticleButtonLabel" value="^[0-9A-Za-zéúíóáÉÚÍÓÁèùìòàÈÙÌÒÀõãñÕÃÑêûîôâÊÛÎÔÂçÇ!?\-_ \.\,\s]{3,50}$" />
    <add key="regexArticleDiscount" value="^[0-9]{1,2}$" />

    <!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->

    <!-- CashDrawer -->
    <!-- Door-->
    <add key="DoorValueM" value="0" />
    <!-- 0, 1, 48, 49 -->
    <add key="DoorValueT1" value="3" />
    <!-- 0, 48 -->
    <add key="DoorValueT2" value="49" />
    <!-- 1, 49 -->

    <!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->

    <!-- Database Guids-->

    <!-- Default DataBase Values -->

    <!-- Article -->
    <add key="xpoOidArticleDefaultType" value="edf4841e-e451-4c7b-9bd0-ee02860ba937" />
    <add key="xpoOidArticleDefaultVATDirectSelling" value="cee00590-7317-41b8-af46-66560401096b" />
    <add key="xpoOidArticleDefaultVATOnTable" value="cee00590-7317-41b8-af46-66560401096b" />
    <add key="xpoOidArticleDefaultUnitMeasure" value="4c81aa20-98ec-4497-b740-165cdb5fa395" />
    <add key="xpoOidArticleDefaultUnitSize" value="18f564aa-7da5-4a1c-9091-8014638b818c" />

    <!-- Customer -->
    <add key="xpoOidDocumentFinanceMasterDefaultCustomerEntity" value="0cf40622-578b-417d-b50f-e945fefb5d68" />

    <!-- DocumentFinanceType -->
    <add key="xpoOidDocumentFinanceTypeSimplifiedInvoice" value="2c69b109-318a-4375-a573-28e5984b6503" />

    <!-- Moçambique -->
    <add key="xpoOidConfigurationCountrySystemCountry" value="16fcd7f2-e885-48d8-9f8e-9d224cc36f32" />
    <add key="xpoOidConfigurationCurrencySystemCurrency" value="28d16be0-0083-11e4-96ce-00ff2353398c" />

  </appSettings>
  <applicationSettings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.9.0" newVersion="6.9.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup></configuration>
