/*  Scripts update MS SQL */

--Verificar se tabela existe
--IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[tablename]') AND type in (N'U')) 

--Verificar se dados existem
--if not exists (select * from tablename WHERE [nomecampo] = 'valor')

--Verificar colunas
--if not exists (select * from sys.columns where Name = N'nomecoluna' and Object_ID = Object_ID(N'nometabela'))

--Alterar nome de tabelas
--EXEC sp_rename 'old_table_name', 'new_table_name'

-- #1
GO
/****** Object:  Table [dbo].[fin_articleserialnumber]  Script Date: 01/03/2021 12:07:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fin_articleserialnumber](
	[Oid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Disabled] [bit] NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[CreatedWhere] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[UpdatedWhere] [uniqueidentifier] NULL,
	[DeletedAt] [datetime] NULL,
	[DeletedBy] [uniqueidentifier] NULL,
	[DeletedWhere] [uniqueidentifier] NULL,
	[Article] [uniqueidentifier] NULL,
	[SerialNumber] [nvarchar](max) NULL,
	[ArticleWarehouse] [uniqueidentifier] NULL,
	[Location] [uniqueidentifier] NULL,
	[StockMovimentIn] [uniqueidentifier] NULL,
	[StockMovimentOut] [uniqueidentifier] NULL,
	[IsSold] [bit] NULL,
	[Quantity] [decimal] NULL,
	[OptimisticLockField] [int] NULL,
 CONSTRAINT [PK_fin_articleserialnumber] PRIMARY KEY CLUSTERED 
(
	[Oid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[fin_articlewarehouse]  Script Date: 01/03/2021 12:07:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fin_articlewarehouse](
	[Oid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Disabled] [bit] NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[CreatedWhere] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[UpdatedWhere] [uniqueidentifier] NULL,
	[DeletedAt] [datetime] NULL,
	[DeletedBy] [uniqueidentifier] NULL,
	[DeletedWhere] [uniqueidentifier] NULL,
	[Article] [uniqueidentifier] NULL,
	[Warehouse] [uniqueidentifier] NULL,
	[Location] [uniqueidentifier] NULL,
	[ArticleSerialNumber] [uniqueidentifier] NULL,
	[Quantity] [decimal] NULL,
	[OptimisticLockField] [int] NULL,
 CONSTRAINT [PK_fin_articlewarehouse] PRIMARY KEY CLUSTERED 
(
	[Oid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[fin_articlecompositionserialnumber]  Script Date: 01/03/2021 12:07:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fin_articlecompositionserialnumber](
	[Oid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Disabled] [bit] NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[CreatedWhere] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[UpdatedWhere] [uniqueidentifier] NULL,
	[DeletedAt] [datetime] NULL,
	[DeletedBy] [uniqueidentifier] NULL,
	[DeletedWhere] [uniqueidentifier] NULL,	
	[Ord] [numeric](10, 0) NULL,
	[Code] [nvarchar](25) NULL,	
	[ArticleSerialNumber] [uniqueidentifier] NULL,
	[ArticleSerialNumberChild] [uniqueidentifier] NULL,
	[OptimisticLockField] [int] NULL,
 CONSTRAINT [PK_fin_articlecompositionserialnumber] PRIMARY KEY CLUSTERED 
(
	[Oid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[fin_warehouse]  Script Date: 01/03/2021 12:07:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fin_warehouse](
	[Oid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Disabled] [bit] NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[CreatedWhere] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[UpdatedWhere] [uniqueidentifier] NULL,
	[DeletedAt] [datetime] NULL,
	[DeletedBy] [uniqueidentifier] NULL,
	[DeletedWhere] [uniqueidentifier] NULL,
	[Ord] [numeric](10, 0) NULL,
	[Code] [nvarchar](25) NULL,
	[Designation] [nvarchar](100) NULL,
	[Location] [uniqueidentifier] NULL,
	[Quantity] [decimal] NULL,
	[IsDefault] [bit] NULL,
	[OptimisticLockField] [int] NULL,
 CONSTRAINT [PK_fin_warehouse] PRIMARY KEY CLUSTERED 
(
	[Oid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[fin_warehouselocation]  Script Date: 01/03/2021 12:07:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fin_warehouselocation](
	[Oid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Disabled] [bit] NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[CreatedWhere] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[UpdatedWhere] [uniqueidentifier] NULL,
	[DeletedAt] [datetime] NULL,
	[DeletedBy] [uniqueidentifier] NULL,
	[DeletedWhere] [uniqueidentifier] NULL,
	[Ord] [numeric](10, 0) NULL,
	[Code] [nvarchar](25) NULL,
	[Designation] [nvarchar](100) NULL,
	[Warehouse] [uniqueidentifier] NULL,
	[OptimisticLockField] [int] NULL,
 CONSTRAINT [PK_fin_warehouselocation] PRIMARY KEY CLUSTERED 
(
	[Oid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
alter table [fin_article] ADD [IsComposed] bit NULL;
GO
alter table [fin_articlestock] ADD [ArticleSerialNumber] char(36) NULL;
GO
alter table [fin_articlestock] ADD [PurchasePrice] money NULL;
GO
alter table [fin_articlestock] ADD [AttachedFile] varbinary(MAX) NULL;
GO
alter table [fin_article] ADD [UniqueArticles] bit;
GO
alter table [fin_documentfinancedetail] ADD [SerialNumber] nvarchar(MAX);
Go
alter table [fin_documentfinancedetail] ADD [Warehouse] nvarchar(MAX);
GO
alter table [fin_articlewarehouse] ADD [ArticleSerialNumber] char(36) NULL;
GO
alter table [fin_articleserialnumber] ADD [ArticleWarehouse] char(36) NULL;
Go
INSERT INTO fin_articleserialnumber (Oid, SerialNumber, Disabled) VALUES ('00000000-0000-0000-0000-000000000001', '-- Selecione --', 1);
Go
INSERT INTO fin_warehouse (Oid, Designation, Disabled) VALUES ('00000000-0000-0000-0000-000000000001', '-- Selecione --', 1);
GO
INSERT INTO fin_warehouse (Oid, Ord, Code, Designation, IsDefault, Disabled) VALUES ('4f5f33a7-7717-49cd-8687-5dc302a0c3cb',10,10, 'Armazém 1', 1, 0);
GO
INSERT INTO fin_warehouselocation (Oid, Ord, Code, Designation, Warehouse, Disabled) VALUES ('a12a472b-5f32-4c7a-a648-03072560ffc8',10,10, 'Localização 1','4f5f33a7-7717-49cd-8687-5dc302a0c3cb', 0);
GO
INSERT INTO sys_userpermissionitem (Oid,Ord,Code,Token,Designation,PermissionGroup,Disabled) VALUES ('b9c3c308-8898-4179-b835-38377ba27703', 4100, 4100,'BACKOFFICE_MAN_WAREHOUSE_CREATE','BackOffice :: Gestão de Armazéns :: Criação','4c047b35-8fe5-4a4b-ac6e-59c87e0f760a',NULL);
GO
INSERT INTO sys_userpermissionitem (Oid,Ord,Code,Token,Designation,PermissionGroup,Disabled) VALUES ('9bf1d39f-8f9a-45fb-b58c-4f45987395e7', 4110, 4110,'BACKOFFICE_MAN_WAREHOUSE_DELETE','BackOffice ::Gestão de Armazéns :: Eliminação','4c047b35-8fe5-4a4b-ac6e-59c87e0f760a',NULL);
GO
INSERT INTO sys_userpermissionitem (Oid,Ord,Code,Token,Designation,PermissionGroup,Disabled) VALUES ('a0b3e944-c9f8-459c-8b4b-dfd24b15f160', 4120, 4120,'BACKOFFICE_MAN_WAREHOUSE_EDIT','BackOffice :: Gestão de Armazéns :: Editar','4c047b35-8fe5-4a4b-ac6e-59c87e0f760a',NULL);
GO
INSERT INTO sys_userpermissionprofile (Oid,Granted,userprofile,PermissionItem) VALUES ('7bdcdfdc-6bca-4789-aaff-7287f656e3a4',1,'1626e21f-75e6-429e-b0ac-edb755e733c2','b9c3c308-8898-4179-b835-38377ba27703');
GO
INSERT INTO sys_userpermissionprofile (Oid,Granted,userprofile,PermissionItem) VALUES ('8f75f053-ff2f-47f5-845b-09768fad4fe7',1,'1626e21f-75e6-429e-b0ac-edb755e733c2','9bf1d39f-8f9a-45fb-b58c-4f45987395e7');
GO
INSERT INTO sys_userpermissionprofile (Oid,Granted,userprofile,PermissionItem) VALUES ('a082b301-be75-42df-badb-d0460ff58356',1,'1626e21f-75e6-429e-b0ac-edb755e733c2','a0b3e944-c9f8-459c-8b4b-dfd24b15f160');
GO
INSERT INTO cfg_configurationpreferenceparameter (Oid,Disabled,Ord,Code,Token,Value,ValueTip,Required,RegEx,ResourceString,ResourceStringInfo,FormType,FormPageNo,InputType) VALUES ('213aa95f-8e67-498a-a5a4-0fc9ec48f88c',NULL,800,800,'CHECK_STOCKS','True','true | false',1,'RegexBoolean','prefparam_check_stocks',NULL,2,1,3);
GO
INSERT INTO cfg_configurationpreferenceparameter (Oid,Disabled,Ord,Code,Token,Value,ValueTip,Required,RegEx,ResourceString,ResourceStringInfo,FormType,FormPageNo,InputType) VALUES ('a318a646-19fe-468a-9325-fa88eadeb22d','true',810,810,'CHECK_STOCKS_MESSAGE','True','true | false',1,'RegexBoolean','prefparam_check_stocks_message',NULL,2,1,3);
GO
alter table [fin_article] ADD [MinimumStock] money NULL;
GO
GO
alter table [fin_article] ADD [UniqueArticles] bit NULL;
GO
alter table [fin_documentfinancedetail] ADD [SerialNumber] nvarchar(MAX);
GO
alter table [fin_documentfinancedetail] ADD [Warehouse] nvarchar(MAX);
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fin_articlecomposition](
	[Oid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Disabled] [bit] NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[CreatedWhere] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[UpdatedWhere] [uniqueidentifier] NULL,
	[DeletedAt] [datetime] NULL,
	[DeletedBy] [uniqueidentifier] NULL,
	[DeletedWhere] [uniqueidentifier] NULL,
	[Article] [uniqueidentifier] NULL,
	[ArticleChild] [uniqueidentifier] NULL,
	[Quantity] [decimal] NULL,
	[OptimisticLockField] [int] NULL,
 CONSTRAINT [PK_fin_articlecomposition] PRIMARY KEY CLUSTERED 
(
	[Oid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT INTO cfg_configurationpreferenceparameter (Oid,Disabled,Ord,Code,Token,Value,ValueTip,Required,RegEx,ResourceString,ResourceStringInfo,FormType,FormPageNo,InputType) VALUES ('a8813e64-b20a-4bb4-b666-1cf81695e7e7',NULL,600,600,'TICKET_PRINT_TICKET','True','true | false',1,'RegexBoolean','prefparam_ticket_print_ticket',NULL,2,1,3);
GO

alter table [fin_documentfinancemaster] ADD [ATDocQRCode] nvarchar(MAX);
GO
alter table [fin_documentfinancemaster] ADD [ATCUD] nvarchar(200);
GO
DROP VIEW view_documentfinance;
GO
CREATE VIEW view_documentfinance AS SELECT        ft.Oid AS ftOid, ft.Ord AS ftDocumentTypeOrd, ft.Code AS ftDocumentTypeCode, ft.Designation AS ftDocumentTypeDesignation, ft.ResourceString AS ftDocumentTypeResourceString, ft.Acronym AS ftDocumentTypeAcronym, 
                         ft.ResourceStringReport AS ftDocumentTypeResourceStringReport, ft.Credit AS ftCredit, ft.WayBill AS ftWayBill, ft.SaftAuditFile AS ftSaftAuditFile, ft.SaftDocumentType AS ftSaftDocumentType, fm.Oid AS fmOid, fm.Date AS fmDate,
                          fm.DocumentNumber AS fmDocumentNumber, fm.DocumentDate AS fmDocumentDate, fm.SystemEntryDate AS fmSystemEntryDate, fm.TransactionID AS fmTransactionID, fm.ShipToDeliveryID AS fmShipToDeliveryID, 
                         fm.ShipToDeliveryDate AS fmShipToDeliveryDate, fm.ShipToWarehouseID AS fmShipToWarehouseID, fm.ShipToLocationID AS fmShipToLocationID, fm.ShipToAddressDetail AS fmShipToAddressDetail, 
                         fm.ShipToCity AS fmShipToCity, fm.ShipToPostalCode AS fmShipToPostalCode, fm.ShipToRegion AS fmShipToRegion, fm.ShipToCountry AS fmShipToCountry, fm.ShipFromDeliveryID AS fmShipFromDeliveryID, 
                         fm.ShipFromDeliveryDate AS fmShipFromDeliveryDate, fm.ShipFromWarehouseID AS fmShipFromWarehouseID, fm.ShipFromLocationID AS fmShipFromLocationID, fm.ShipFromAddressDetail AS fmShipFromAddressDetail, 
                         fm.ShipFromCity AS fmShipFromCity, fm.ShipFromPostalCode AS fmShipFromPostalCode, fm.ShipFromRegion AS fmShipFromRegion, fm.ShipFromCountry AS fmShipFromCountry, 
                         fm.MovementStartTime AS fmMovementStartTime, fm.MovementEndTime AS fmMovementEndTime, fm.ATDocCodeID AS fmATDocCodeID, fm.DocumentCreatorUser AS fmDocumentCreatorUser, 
                         fm.DocumentStatusStatus AS fmDocumentStatusStatus, fm.Payed AS fmPayed, fm.PayedDate AS fmPayedDate, fm.TotalNet AS fmTotalNet, fm.TotalGross AS fmTotalGross, fm.TotalDiscount AS fmTotalDiscount, 
                         fm.TotalTax AS fmTotalTax, fm.TotalFinal AS fmTotalFinal, fm.TotalFinalRound AS fmTotalFinalRound, fm.TotalDelivery AS fmTotalDelivery, fm.TotalChange AS fmTotalChange, fm.Discount AS fmDiscount, 
                         fm.DiscountFinancial AS fmDiscountFinancial, fm.ExchangeRate AS fmExchangeRate, fm.EntityOid AS fmEntity, fm.EntityInternalCode AS fmEntityInternalCode, fm.ATDocQRCode AS fmATDocQRCode, cu.Ord AS cuEntityOrd, 
                         cu.Code AS cuEntityCode, cu.Hidden AS cuEntityHidden, fm.EntityName AS fmEntityName, fm.EntityAddress AS fmEntityAddress, fm.EntityZipCode AS fmEntityZipCode, fm.EntityLocality AS fmEntityLocality, 
                         fm.EntityCity AS fmEntityCity, fm.EntityCountry AS fmEntityCountryCode2, fm.EntityFiscalNumber AS fmEntityFiscalNumber, fm.Notes AS fmNotes, fm.SourceOrderMain AS fmSourceOrderMain, 
                         fm.DocumentParent AS fmDocumentParent, fm.DocumentType AS fmDocumentType, fm.DocumentSerie AS fmDocumentSerie, pm.Oid AS fmPaymentMethod, pm.Ord AS pmPaymentMethodOrd, 
                         pm.Code AS pmPaymentMethodCode, pm.Designation AS pmPaymentMethodDesignation, pm.Token AS pmPaymentMethodToken, fm.PaymentCondition AS fmPaymentCondition, pc.Ord AS pcPaymentConditionOrd, 
                         pc.Code AS pcPaymentConditionCode, pc.Designation AS pcPaymentConditionDesignation, pc.Acronym AS pcPaymentConditionAcronym, cc.Oid AS ccCountry, cc.Ord AS ccCountryOrd, cc.Code AS ccCountryCode, 
                         cc.Designation AS ccCountryDesignation, fm.Currency AS fmCurrency, cr.Ord AS crCurrencyOrd, cr.Code AS crCurrencyCode, cr.Designation AS crCurrencyDesignation, cr.Acronym AS crCurrencyAcronym, af.Oid AS afFamily, 
                         af.Ord AS afFamilyOrd, af.Code AS afFamilyCode, af.Designation AS afFamilyDesignation, sf.Oid AS sfSubFamily, sf.Ord AS sfSubFamilyOrd, sf.Code AS sfSubFamilyCode, sf.Designation AS sfSubFamilyDesignation, 
                         fd.Oid AS fdOid, fd.Article AS fdArticle, fd.Ord AS fdOrd, fd.Code AS fdCode, fd.Designation AS fdDesignation, fd.Quantity AS fdQuantity, fd.UnitMeasure AS fdUnitMeasure, fd.Price AS fdPrice, (fd.Price - ((fd.Price * fd.Discount) 
                         / 100)) AS fdPriceWithDiscount, fd.Vat AS fdVat, fd.Discount AS fdDiscount, ar.PriceWithVat AS arPriceWithVat, fd.TotalNet AS fdTotalNet, fd.TotalGross AS fdTotalGross, fd.TotalDiscount AS fdTotalDiscount, 
                         fd.TotalTax AS fdTotalTax, fd.TotalFinal AS fdTotalFinal, fd.VatExemptionReason AS fdVatExemptionReason, fd.VatExemptionReasonDesignation AS fdVatExemptionReasonDesignation, cx.Acronym AS cxAcronym, 
                         fd.Token1 AS fdToken1, fd.Token2 AS fdToken2, cv.Ord AS cfVatOrd, cv.Code AS cfVatCode, cv.Designation AS cfVatDesignation, cv.TaxType AS cvTaxType, cv.TaxCode AS cvTaxCode, 
                         cv.TaxCountryRegion AS cvTaxCountryRegion, cv.TaxExpirationDate AS cvTaxExpirationDate, cv.TaxDescription AS cvTaxDescription, ud.Oid AS udUserDetail, ud.Ord AS udUserDetailOrd, ud.Code AS udUserDetailCode, 
                         ud.Name AS udUserDetailName, tr.Oid AS trTerminal, tr.Ord AS trTerminalOrd, tr.Code AS trTerminalCode, tr.Designation AS trTerminalDesignation, cp.Oid AS cpPlace, cp.Ord AS cpPlaceOrd, cp.Code AS cpPlaceCode, 
                         cp.Designation AS cpPlaceDesignation, dm.PlaceTable AS dmPlaceTable, ct.Ord AS ctPlaceTableOrd, ct.Code AS ctPlaceTableCode, ct.Designation AS ctPlaceTableDesignation, cg.Designation AS cgDesignation, 
                         cg.Commission AS cgCommission, cv.Oid AS cfOid, ar.Class AS arClass, ac.Designation as acDesignation, ac.Acronym as acAcronym
FROM            (((((((((((((((((((fin_documentfinancemaster fm LEFT JOIN
                         fin_documentfinancedetail fd ON ((fm.Oid = fd.DocumentMaster))) LEFT JOIN
                         fin_documentfinancetype ft ON ((fm.DocumentType = ft.Oid))) LEFT JOIN
                         fin_article ar ON ((ar.Oid = fd.Article))) LEFT JOIN
                         fin_articlefamily af ON ((af.Oid = ar.Family))) LEFT JOIN
                         fin_articlesubfamily sf ON ((sf.Oid = ar.SubFamily))) LEFT JOIN
						            fin_articleclass ac ON ((ac.Oid = ar.Class))) LEFT JOIN
                         fin_configurationvatrate cv ON ((cv.Oid = fd.VatRate))) LEFT JOIN
                         fin_configurationvatexemptionreason cx ON ((cx.Oid = fd.VatExemptionReason))) LEFT JOIN
                         fin_documentordermain dm ON ((fm.SourceOrderMain = dm.Oid))) LEFT JOIN
                         pos_configurationplacetable ct ON ((dm.PlaceTable = ct.Oid))) LEFT JOIN
                         pos_configurationplace cp ON ((ct.Place = cp.Oid))) LEFT JOIN
                         fin_configurationpaymentmethod pm ON ((fm.PaymentMethod = pm.Oid))) LEFT JOIN
                         fin_configurationpaymentcondition pc ON ((pc.Oid = fm.PaymentCondition))) LEFT JOIN
                         cfg_configurationcountry cc ON ((fm.EntityCountry = cc.Code2))) LEFT JOIN
                         cfg_configurationcurrency cr ON ((fm.Currency = cr.Oid))) LEFT JOIN
                         sys_userdetail ud ON ((fm.UpdatedBy = ud.Oid))) LEFT JOIN
                         pos_usercommissiongroup cg ON ((cg.Oid = ud.CommissionGroup))) LEFT JOIN
                         pos_configurationplaceterminal tr ON ((fm.UpdatedWhere = tr.Oid))) LEFT JOIN
                         erp_customer cu ON ((fm.EntityOid = cu.Oid)));;
GO
GO
UPDATE cfg_configurationpreferenceparameter
SET Disabled = True, Value = True
WHERE Oid = 'c383e97a-c90b-46a5-9298-cc2436a30e5d';
GO
UPDATE cfg_configurationpreferenceparameter
SET Disabled = True
WHERE Oid = 'cf1b6200-8213-4a56-b211-0377ca06cdbc' OR Oid = '428ece74-22db-44b6-864a-f426a77f77ea' OR Oid = 'c383e97a-c90b-46a5-9298-cc2436a30e5d' OR Oid = 'e744d01c-0f8a-4680-a86c-1d3f5815d7f1'
GO
if not exists (select * from cfg_configurationpreferenceparameter WHERE [Oid] = 'bc0bc5df-4c01-462a-81b7-9051a7869574')
INSERT INTO cfg_configurationpreferenceparameter (Oid,Disabled,Ord,Code,Token,Value,ValueTip,Required,RegEx,ResourceString,ResourceStringInfo,FormType,FormPageNo,InputType) VALUES ('bc0bc5df-4c01-462a-81b7-9051a7869574',NULL,590,590,'USE_CC_DAILY_TICKET','False','true | false',1,'RegexBoolean','prefparam_use_ccdailyticket',NULL,2,1,3);
GO
UPDATE cfg_configurationcountry SET RegExFiscalNumber = '^[A-Za-z0-9]+' where Oid = '9655510a-ff58-461e-9719-c037058f10ed'
GO
ALTER VIEW view_documentfinancepayment AS
	SELECT 
		ftp.Oid AS ftpOid,
		ftp.Code AS ftpCode,
		ftp.Designation AS ftpDesignation,
		ftp.ResourceString AS ftpResourceString,
		ftp.ResourceStringReport AS ftpResourceStringReport,
		ftm.Oid AS ftmOid,
		ftm.Code AS ftmCode,
		ftm.Designation AS ftmDesignation,
		ftm.Credit AS ftmCredit,
		fma.Oid AS fmaOid,
		fma.CreatedAt AS fmaCreatedAt,
		fma.DocumentNumber AS fmaDocumentNumber,
		fma.DocumentDate AS fmaDocumentDate,
		fma.TotalGross AS fmaTotalGross,
		fma.TotalDiscount AS fmaTotalDiscount,
		fma.TotalTax AS fmaTotalTax,
		fma.TotalFinal AS fmaTotalFinal,
		fma.TotalFinalRound AS fmaTotalFinalRound,
		fma.Payed AS fmaPayed,
		fma.PayedDate AS fmaPayedDate,
		fma.EntityOid AS fmaEntityOid,
		fma.Notes AS fmaNotes,
		fpa.Oid AS fpaOid,
		fpa.PaymentRefNo AS fpaPaymentRefNo,
		fpa.PaymentType AS fpaPaymentType,
		fpa.PaymentStatus AS fpaPaymentStatus,
		fpa.PaymentStatusDate AS fpaPaymentStatusDate,
		fpa.PaymentMechanism AS fpaPaymentMechanism,
		fpa.TaxPayable AS fpaTaxPayable,
		fpa.PaymentAmount AS fpaPaymentAmount,
		fmp.Ord AS fmpOrd,
		fmp.CreditAmount AS fmpCreditAmount,
		fmp.DebitAmount AS fmpDebitAmount,
		fpa.PaymentDate AS fpaPaymentDate,
		fpa.ExtendedValue AS fpaExtendedValue,
		fpa.DocumentDate AS fpaDocumentDate,
		fpa.ExchangeRate AS fpaExchangeRate,
		fpa.Notes AS fpaNotes,
		cus.Oid AS cusOid,
		cus.Code AS cusCode,
		cus.Name AS cusName,
		cus.Address AS cusAddress,
		cus.ZipCode AS cusZipCode,
		cus.City AS cusCity,        
		cus.Locality AS cusLocality,
		cco.Designation AS ccoDesignation,
		cus.FiscalNumber AS cusFiscalNumber,
		cpm.Oid AS cpmOid,
		cpm.Code AS cpmCode,
		cpm.Designation AS cpmDesignation,
		cpm.Acronym AS cpmAcronym,
		cur.Designation AS curDesignation,
		cur.Acronym AS curAcronym,
		cur.Symbol AS curSymbol
	FROM
		((((((((fin_documentfinancemaster fma
		left join fin_documentfinancemasterpayment fmp ON ((fmp.DocumentFinanceMaster = fma.Oid)))
		left join fin_documentfinancepayment fpa ON ((fpa.Oid = fmp.DocumentFinancePayment)))
		left join fin_documentfinancetype ftp ON ((ftp.Oid = fpa.DocumentType)))
		left join fin_documentfinancetype ftm ON ((ftm.Oid = fma.DocumentType)))
		left join fin_configurationpaymentmethod cpm ON ((cpm.Oid = fpa.PaymentMethod)))
		left join erp_customer cus ON ((cus.Oid = fpa.EntityOid)))
		left join cfg_configurationcurrency cur ON ((cur.Oid = fpa.Currency)))
		left join cfg_configurationcountry cco ON ((cco.Oid = cus.Country)))
;
GO
ALTER VIEW view_documentfinance AS
    SELECT 
        ft.Oid AS ftOid,
        ft.Ord AS ftDocumentTypeOrd,
        ft.Code AS ftDocumentTypeCode,
        ft.Designation AS ftDocumentTypeDesignation,
        ft.ResourceString AS ftDocumentTypeResourceString,
        ft.Acronym AS ftDocumentTypeAcronym,
        ft.ResourceStringReport AS ftDocumentTypeResourceStringReport,
        ft.Credit AS ftCredit,
        ft.WayBill AS ftWayBill,
        ft.SaftAuditFile AS ftSaftAuditFile,
        ft.SaftDocumentType AS ftSaftDocumentType,
        fm.Oid AS fmOid,
        fm.Date AS fmDate,
        fm.DocumentNumber AS fmDocumentNumber,
        fm.DocumentDate AS fmDocumentDate,
        fm.SystemEntryDate AS fmSystemEntryDate,
        fm.TransactionID AS fmTransactionID,
        fm.ShipToDeliveryID AS fmShipToDeliveryID,
        fm.ShipToDeliveryDate AS fmShipToDeliveryDate,
        fm.ShipToWarehouseID AS fmShipToWarehouseID,
        fm.ShipToLocationID AS fmShipToLocationID,
        fm.ShipToAddressDetail AS fmShipToAddressDetail,
        fm.ShipToCity AS fmShipToCity,
        fm.ShipToPostalCode AS fmShipToPostalCode,
        fm.ShipToRegion AS fmShipToRegion,
        fm.ShipToCountry AS fmShipToCountry,
        fm.ShipFromDeliveryID AS fmShipFromDeliveryID,
        fm.ShipFromDeliveryDate AS fmShipFromDeliveryDate,
        fm.ShipFromWarehouseID AS fmShipFromWarehouseID,
        fm.ShipFromLocationID AS fmShipFromLocationID,
        fm.ShipFromAddressDetail AS fmShipFromAddressDetail,
        fm.ShipFromCity AS fmShipFromCity,
        fm.ShipFromPostalCode AS fmShipFromPostalCode,
        fm.ShipFromRegion AS fmShipFromRegion,
        fm.ShipFromCountry AS fmShipFromCountry,
        fm.MovementStartTime AS fmMovementStartTime,
        fm.MovementEndTime AS fmMovementEndTime,
        fm.ATDocCodeID AS fmATDocCodeID,
        fm.DocumentCreatorUser AS fmDocumentCreatorUser,
        fm.DocumentStatusStatus AS fmDocumentStatusStatus,
        fm.Payed AS fmPayed,
        fm.PayedDate AS fmPayedDate,
        fm.TotalNet AS fmTotalNet,
        fm.TotalGross AS fmTotalGross,
        fm.TotalDiscount AS fmTotalDiscount,
        fm.TotalTax AS fmTotalTax,
        fm.TotalFinal AS fmTotalFinal,
        fm.TotalFinalRound AS fmTotalFinalRound,
        fm.TotalDelivery AS fmTotalDelivery,
        fm.TotalChange AS fmTotalChange,
        fm.Discount AS fmDiscount,
        fm.DiscountFinancial AS fmDiscountFinancial,
        fm.ExchangeRate AS fmExchangeRate,
        fm.EntityOid AS fmEntity,
        fm.EntityInternalCode AS fmEntityInternalCode,
        fm.ATDocQRCode AS fmATDocQRCode,
        cu.Ord AS cuEntityOrd,
        cu.Code AS cuEntityCode,
        cu.Hidden AS cuEntityHidden,
        fm.EntityName AS fmEntityName,
        fm.EntityAddress AS fmEntityAddress,
        fm.EntityZipCode AS fmEntityZipCode,
		fm.EntityLocality AS fmEntityLocality,
        fm.EntityCity AS fmEntityCity,
        fm.EntityCountry AS fmEntityCountryCode2,
        fm.EntityFiscalNumber AS fmEntityFiscalNumber,
        fm.Notes AS fmNotes,
        fm.SourceOrderMain AS fmSourceOrderMain,
        fm.DocumentParent AS fmDocumentParent,
        fm.DocumentType AS fmDocumentType,
        fm.DocumentSerie AS fmDocumentSerie,
        pm.Oid AS fmPaymentMethod,
        pm.Ord AS pmPaymentMethodOrd,
        pm.Code AS pmPaymentMethodCode,
        pm.Designation AS pmPaymentMethodDesignation,
        pm.Token AS pmPaymentMethodToken,
        fm.PaymentCondition AS fmPaymentCondition,
        pc.Ord AS pcPaymentConditionOrd,
        pc.Code AS pcPaymentConditionCode,
        pc.Designation AS pcPaymentConditionDesignation,
        pc.Acronym AS pcPaymentConditionAcronym,
        cc.Oid AS ccCountry,
        cc.Ord AS ccCountryOrd,
        cc.Code AS ccCountryCode,
        cc.Designation AS ccCountryDesignation,
        fm.Currency AS fmCurrency,
        cr.Ord AS crCurrencyOrd,
        cr.Code AS crCurrencyCode,
        cr.Designation AS crCurrencyDesignation,
        cr.Acronym AS crCurrencyAcronym,
        af.Oid AS afFamily,
        af.Ord AS afFamilyOrd,
        af.Code AS afFamilyCode,
        af.Designation AS afFamilyDesignation,
        sf.Oid AS sfSubFamily,
        sf.Ord AS sfSubFamilyOrd,
        sf.Code AS sfSubFamilyCode,
        sf.Designation AS sfSubFamilyDesignation,
        fd.Oid AS fdOid,
        fd.Article AS fdArticle,
        fd.Ord AS fdOrd,
        fd.Code AS fdCode,
        fd.Designation AS fdDesignation,
        fd.Quantity AS fdQuantity,
        fd.UnitMeasure AS fdUnitMeasure,
        fd.Price AS fdPrice,
        (fd.Price - ((fd.Price * fd.Discount) / 100)) AS fdPriceWithDiscount,
        fd.Vat AS fdVat,
        fd.Discount AS fdDiscount,
        ar.PriceWithVat AS arPriceWithVat,
        fd.TotalNet AS fdTotalNet,
        fd.TotalGross AS fdTotalGross,
        fd.TotalDiscount AS fdTotalDiscount,
        fd.TotalTax AS fdTotalTax,
        fd.TotalFinal AS fdTotalFinal,
        fd.VatExemptionReason AS fdVatExemptionReason,
        fd.VatExemptionReasonDesignation AS fdVatExemptionReasonDesignation,
        cx.Acronym AS cxAcronym,
        fd.Token1 AS fdToken1,
        fd.Token2 AS fdToken2,
        cv.Ord AS cfVatOrd,
        cv.Code AS cfVatCode,
        cv.Designation AS cfVatDesignation,
        cv.TaxType AS cvTaxType,
        cv.TaxCode AS cvTaxCode,
        cv.TaxCountryRegion AS cvTaxCountryRegion,
        cv.TaxExpirationDate AS cvTaxExpirationDate,
        cv.TaxDescription AS cvTaxDescription,
        ud.Oid AS udUserDetail,
        ud.Ord AS udUserDetailOrd,
        ud.Code AS udUserDetailCode,
        ud.Name AS udUserDetailName,
        tr.Oid AS trTerminal,
        tr.Ord AS trTerminalOrd,
        tr.Code AS trTerminalCode,
        tr.Designation AS trTerminalDesignation,
        cp.Oid AS cpPlace,
        cp.Ord AS cpPlaceOrd,
        cp.Code AS cpPlaceCode,
        cp.Designation AS cpPlaceDesignation,
        dm.PlaceTable AS dmPlaceTable,
        ct.Ord AS ctPlaceTableOrd,
        ct.Code AS ctPlaceTableCode,
        ct.Designation AS ctPlaceTableDesignation,
        cg.Designation AS cgDesignation,
        cg.Commission AS cgCommission, 
        cv.Oid AS cfOid, 
        ar.Class AS arClass, 
        ac.Designation as acDesignation, 
        ac.Acronym as acAcronym
    FROM
        (((((((((((((((((((fin_documentfinancemaster fm
        LEFT JOIN fin_documentfinancedetail fd ON ((fm.Oid = fd.DocumentMaster)))
        LEFT JOIN fin_documentfinancetype ft ON ((fm.DocumentType = ft.Oid)))
        LEFT JOIN fin_article ar ON ((ar.Oid = fd.Article)))
        LEFT JOIN fin_articlefamily af ON ((af.Oid = ar.Family)))
        LEFT JOIN fin_articlesubfamily sf ON ((sf.Oid = ar.SubFamily)))
        LEFT JOIN fin_articleclass ac ON ((ac.Oid = ar.Class)))
        LEFT JOIN fin_configurationvatrate cv ON ((cv.Oid = fd.VatRate)))
        LEFT JOIN fin_configurationvatexemptionreason cx ON ((cx.Oid = fd.VatExemptionReason)))
        LEFT JOIN fin_documentordermain dm ON ((fm.SourceOrderMain = dm.Oid)))
        LEFT JOIN pos_configurationplacetable ct ON ((dm.PlaceTable = ct.Oid)))
        LEFT JOIN pos_configurationplace cp ON ((ct.Place = cp.Oid)))
        LEFT JOIN fin_configurationpaymentmethod pm ON ((fm.PaymentMethod = pm.Oid)))
        LEFT JOIN fin_configurationpaymentcondition pc ON ((pc.Oid = fm.PaymentCondition)))
        LEFT JOIN cfg_configurationcountry cc ON ((fm.EntityCountry = cc.Code2)))
        LEFT JOIN cfg_configurationcurrency cr ON ((fm.Currency = cr.Oid)))
        LEFT JOIN sys_userdetail ud ON ((fm.UpdatedBy = ud.Oid)))
        LEFT JOIN pos_usercommissiongroup cg ON ((cg.Oid = ud.CommissionGroup)))
        LEFT JOIN pos_configurationplaceterminal tr ON ((fm.UpdatedWhere = tr.Oid)))
        LEFT JOIN erp_customer cu ON ((fm.EntityOid = cu.Oid)))
;
GO
alter table [sys_configurationpoledisplay] ADD [COM] nvarchar(10);
GO
alter table [sys_configurationprinterstemplates] ADD [IsBarCode] bit;
GO
INSERT INTO [sys_configurationprinterstemplates] (Oid, CreatedAt, UpdatedAt, Ord, Code, Designation, FileTemplate, FinancialTemplate, IsBarCode) VALUES ('b931ef9c-75cf-4e2e-94ed-b67a22f50cda','2021-03-15 12:00:00.000','2021-03-15 12:00:00.000', 300, 300, 'Modelo para impressão de Código de Barras 40*30', 'Resources/Reports/UserReports/BarCodeTemplate_40x30.frx',0,1);
GO
INSERT INTO [sys_configurationprinterstemplates] (Oid, CreatedAt, UpdatedAt, Ord, Code, Designation, FileTemplate, FinancialTemplate, IsBarCode) VALUES ('577c83c4-2469-4d15-aae8-770f34782d57','2021-03-15 12:00:00.000','2021-03-15 12:00:00.000', 310, 310, 'Modelo para impressão de Código de Barras 100*50', 'Resources/Reports/UserReports/BarCodeTemplate_100x50.frx',0,1);
GO
alter table [fin_article] ADD [TemplateBarCode] uniqueidentifier;
GO
alter table [fin_articleserialnumber] ADD [Status] int;
GO
DROP VIEW view_articlestockwarehouse;
GO
		CREATE VIEW view_articlestockwarehouse AS
  SELECT 
        afa.Oid AS afaOid,
        afa.Ord AS afaOrd,
        afa.Code AS afaCode,
        afa.Designation AS afaDesignation,
        afa.Disabled AS afaDisabled,
        asf.Oid AS asfOid,
        asf.Ord AS asfOrd,
        asf.Code AS asfCode,
        asf.Designation AS asfDesignation,
        asf.Disabled AS asfDisabled,
        art.Oid AS Article,
        art.Ord AS artOrd,
        art.Code AS artCode,
        art.CodeDealer AS artCodeDealer,
        art.Designation AS artDesignation,
        art.Disabled AS artDisabled,
        CONVERT(VARCHAR(19), stk.CreatedAt, 23) AS stkDateDay,
        stk.Oid AS stkOid,
        stk.CreatedAt AS Date,
        stk.Quantity AS stkQuantity,
        aum.Acronym AS aumAcronym,
        aum.Designation AS aumDesignation,
        stk.CreatedWhere AS afaTerminal,
        stk.CreatedBy AS afaUserDetail,
        wrh.Designation AS wrhDesignation,
        whl.Designation AS whlDesignation,
        asn.SerialNumber AS asnSerialNumber,
        wrh.Oid AS Warehouse,
        whl.Oid AS Location,
        asn.Oid AS ArticleSerialNumber
    FROM
        (((((((fin_articlewarehouse stk
        LEFT JOIN fin_article art ON ((art.Oid = stk.Article)))
        LEFT JOIN fin_articlefamily afa ON ((afa.Oid = art.Family)))
        LEFT JOIN fin_articlesubfamily asf ON ((asf.Oid = art.SubFamily)))
        LEFT JOIN cfg_configurationunitmeasure aum ON ((aum.Oid = art.UnitMeasure)))
        LEFT JOIN fin_warehouse wrh ON ((wrh.Oid = stk.Warehouse)))
        LEFT JOIN fin_warehouselocation whl ON ((whl.Oid = stk.Location)))
        LEFT JOIN fin_articleserialnumber asn ON ((asn.Oid = stk.ArticleSerialNumber)))
;
GO
DROP VIEW view_articlestock;
GO
CREATE VIEW view_articlestock AS
SELECT  afa.Oid AS afaOid,
        afa.Ord AS afaOrd,
        afa.Code AS afaCode,
        afa.Designation AS afaDesignation,
        afa.Disabled AS afaDisabled,
        asf.Oid AS asfOid,
        asf.Ord AS asfOrd,
        asf.Code AS asfCode,
        asf.Designation AS asfDesignation,
        asf.Disabled AS asfDisabled,
        art.Oid AS Article,
        art.Designation as artDesignation,
        art.Ord AS artOrd,
        art.Code AS artCode,
        art.MinimumStock AS artMinStock,
        CONVERT(VARCHAR(19), stm.Date, 23) AS stmDateDay,
        stm.Date AS Date,
        (SELECT SUM(Quantity) as Result FROM fin_articlestock WHERE Article = art.Oid AND (Disabled = 0 OR Disabled is NULL)) as artStk,
        aum.Acronym AS aumAcronym,
        aum.Designation AS aumDesignation
        FROM 
        ((((fin_articlestock stm
        LEFT JOIN fin_article art ON ((stm.Article = art.Oid)))   
        LEFT JOIN fin_articlefamily afa ON ((afa.Oid = art.Family)))
        LEFT JOIN fin_articlesubfamily asf ON ((asf.Oid = art.SubFamily)))
        LEFT JOIN cfg_configurationunitmeasure aum ON ((aum.Oid = art.UnitMeasure)));
GO
DROP VIEW view_articlestocksupplier;
GO
CREATE VIEW view_articlestocksupplier AS
  SELECT stm.Oid as stmOid,
        afa.Oid AS afaOid,
        afa.Ord AS afaOrd,
        afa.Code AS afaCode,
        afa.Designation AS afaDesignation,
        afa.Disabled AS afaDisabled,
        asf.Oid AS asfOid,
        asf.Ord AS asfOrd,
        asf.Code AS asfCode,
        asf.Designation AS asfDesignation,
        asf.Disabled AS asfDisabled,
        art.Oid AS Article,
        art.Ord AS artOrd,
        art.Code AS artCode,
        art.CodeDealer AS artCodeDealer,
        art.Designation AS artDesignation,
        art.Disabled AS artDisabled,        
        CONVERT(VARCHAR(19), stm.Date, 23) AS stmDateDay,
        stm.Date AS Date,
        aum.Acronym AS aumAcronym,
        aum.Designation AS aumDesignation,
        stm.CreatedWhere AS afaTerminal,
        stm.CreatedBy AS afaUserDetail,
        wrh.Designation AS wrhDesignation,
        whl.Designation AS whlDesignation,
        asn.SerialNumber AS asnSerialNumber,
        wrh.Oid AS Warehouse,
        whl.Oid AS Location,
        asn.Oid AS ArticleSerialNumber,
        stm.Customer AS EntityOid,
        stm.PurchasePrice AS stmPrice,
        stm.Quantity AS stmQtd,
        ctm.Name as ctmName,
        (Select Oid FROM fin_documentfinancemaster f Where Oid = stm.DocumentMaster) as fdmOid,
        stm.DocumentNumber AS stmDocumentNumber,
        (Select Acronym FROM cfg_configurationcurrency Where Oid = fdm.Currency) AS Currency
    FROM
        ((((((((((fin_articlestock stm
        LEFT JOIN fin_article art ON ((art.Oid = stm.Article)))
        LEFT JOIN fin_articlefamily afa ON ((afa.Oid = art.Family)))
        LEFT JOIN fin_articlesubfamily asf ON ((asf.Oid = art.SubFamily)))
        LEFT JOIN cfg_configurationunitmeasure aum ON ((aum.Oid = art.UnitMeasure)))
        LEFT JOIN fin_articleserialnumber asn ON ((asn.StockMovimentIn = stm.Oid)))
        LEFT JOIN fin_articlewarehouse awh ON ((awh.Oid = asn.ArticleWarehouse)))
        LEFT JOIN fin_warehouse wrh ON ((wrh.Oid = awh.Warehouse)))
        LEFT JOIN fin_warehouselocation whl ON ((whl.Oid = awh.Location)))
        LEFT JOIN erp_customer ctm ON ((ctm.Oid = stm.Customer)))
        LEFT JOIN fin_documentfinancemaster fdm ON ((fdm.Oid = stm.DocumentMaster)))
        ;
GO
INSERT INTO rpt_reporttype (Oid,Ord,Code,Designation,ResourceString,MenuIcon,Disabled) VALUES ('751c9e56-26bb-4fc8-8110-6c1e3b7c84e6',60,60,'ReportType #6','reporttype_label_type6','report_other_reports.png',NULL);
GO
INSERT INTO rpt_report (Oid,Ord,Code,Designation,ResourceString,Token,ReportType,Disabled) VALUES ('8bda2d73-43ad-41ee-9c92-febbcd86ffab',940,940,'Relatório :: Stock por Armazém','report_list_stock_warehouse','REPORT_LIST_STOCK_WAREHOUSE','751c9e56-26bb-4fc8-8110-6c1e3b7c84e6',NULL);
GO
INSERT INTO rpt_report (Oid,Ord,Code,Designation,ResourceString,Token,ReportType,Disabled) VALUES ('e0576081-c809-4a3c-9a81-13a44c8f1009',950,950,'Relatório :: Stock por Artigo','report_list_stock_article','REPORT_LIST_STOCK_ARTICLE','751c9e56-26bb-4fc8-8110-6c1e3b7c84e6',NULL);
GO        
INSERT INTO rpt_report (Oid,Ord,Code,Designation,ResourceString,Token,ReportType,Disabled) VALUES ('8c45f62b-c3aa-4c4e-84eb-c8402837dead',960,960,'Relatório :: Stock por Fornecedor','report_list_stock_supplier','REPORT_LIST_STOCK_SUPPLIER','751c9e56-26bb-4fc8-8110-6c1e3b7c84e6',NULL);
GO        
INSERT INTO fin_articlestock(Oid, DocumentNumber, Disabled) VALUES ('00000000-0000-0000-0000-000000000001', '-- Selecione --', 1);
GO
UPDATE rpt_report SET ReportType = '751c9e56-26bb-4fc8-8110-6c1e3b7c84e6' WHERE Oid = 'c721aee9-cb5e-49c7-85ea-0dfef2540638';
GO
INSERT INTO fin_articleserialnumber(Oid, SerialNumber, Disabled) VALUES ('00000000-0000-0000-0000-000000000001', '-- Selecione --', 1);
GO
INSERT INTO fin_warehouse (Oid, Designation, Disabled) VALUES ('00000000-0000-0000-0000-000000000001', '-- Selecione --', 1);
GO
GO
GO